.teams-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    background-image: url('../../media/backgrounds/teams.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* animation: imageZoom 1s ease-in-out 0s forwards; */
}

.teams-top{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 0px 0px 40px 0px;
    
    width: 100vw;
    height: auto;
}

.teams-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;
    
    padding: 160px 60px 0px 60px;
    box-sizing: border-box;
    
    text-align: center;
    align-items: center;
}

.teams-top-content-title{
    position: relative;
    
    width: fit-content;
    
    padding: 0px 24px;
    box-sizing: border-box;
    
    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;
    
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0));
    
    font-size: 84px;

    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.teams-top-content-tagline{
    position: relative;
    
    width: fit-content;
    
    padding: 20px 0px 0px 0px;
    
    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;
    
    font-size: 48px;
}

@media screen and (max-width: 1000px) {
    .teams-top-content{
        padding: 140px 40px 30px 40px;
    }
    
    .teams-top-content-title{
        padding: 0px 24px;
        font-size: 76px;
    }
    
    .teams-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 44px;
    }
}

@media screen and (max-width: 800px) {
    .teams-top-content{
        padding: 100px 20px 26px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 24px;
        font-size: 64px;
    }
    
    .teams-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 36px;
    }
}

@media screen and (max-width: 600px) {
    .teams-top-content{
        padding: 86px 20px 24px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 22px;
        font-size: 56px;
    }
    
    .teams-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .teams-top-content{
        padding: 86px 20px 20px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 22px;
        font-size: 48px;
    }
    
    .teams-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 26px;
    }
}

@media screen and (max-width: 400px) {
    .teams-top-content{
        padding: 86px 20px 20px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 20px;
        font-size: 40px;
    }
    
    .teams-top-content-tagline{
        padding: 22px 0px 0px 0px;
        font-size: 22px;
    }
}





/* ############################################################################################################################# */
/* THe main  body of teams page */
.teams-main-body{
    position: relative;
    
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    
    background-color: rgba(190, 183, 183, 0);
    box-shadow: inset 2000px 2000px 2000px rgba(0, 0, 0, 0.5);

    overflow: hidden;
}

/* The golden lights background container */
.teams-main-body-lights-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px);
    overflow: hidden;
}

/* The member details and nav panel container */
.teams-main-body-details-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    top: 0px;
    align-items: center;

    box-sizing: border-box;
}




@keyframes translateYTeamsNavPanelDropDown {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    }

    70%{
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes translateYTeamsNavPanelDropDownRope {
    0% {
        height: 16px;
    }

    30%{
        height: 44px;
    }

    100% {
        height: 16px;
    }
}

@keyframes shiverAnimation {
    0% {
        transform: rotate(0deg);
    }

    20%{
        transform: rotate(-6deg);
    }

    40%{
        transform: rotate(6deg);
    }

    60%{
        transform: rotate(-3deg);
    }

    80%{
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ############################################################################################################################# */
/* The nav panel that contains the team names */
.teams-nav-panel{
    position: relative;
    top: 0;
    left: 0;
    
    width: 60%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    text-align: center;
    
    z-index: 100;
}

.team-nav-panel-item-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    /* animation: translateX 1s ease-in-out 0s forwards; */
    animation: translateYTeamsNavPanelDropDown 1s ease-in-out 0s forwards;


    /* z-index: 10; */
}

.team-nav-panel-dropdown-item-container{
    display: none;
    opacity: 0;

    /* z-index: -1; */

    /* animation: translateYTeamsNavPanelDropDown 1s ease-in-out 0s forwards; */
    animation-name: translateYTeamsNavPanelDropDown;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* @each $i from 1 through 10 {
    .team-nav-panel-dropdown-item-container: nth-child(#{$i}){
        animation-delay: #{($i * 1)};
    }
} */
.team-nav-panel-dropdown-item-container:nth-child(1){
    z-index: 20;
    animation-delay: 0.2s;
}
.team-nav-panel-dropdown-item-container:nth-child(2){
    z-index: 19;
    animation-delay: 0.4s;
}
.team-nav-panel-dropdown-item-container:nth-child(3){
    z-index: 18;
    animation-delay: 0.6s;
}
.team-nav-panel-dropdown-item-container:nth-child(4){
    z-index: 17;
    animation-delay: 0.8s;
}
.team-nav-panel-dropdown-item-container:nth-child(5){
    z-index: 16;
    animation-delay: 1s;
}

.team-nav-panel-dropdown-item-container .team-nav-panel-item-rope{
    width: 70%;
    height: 28pxpx;

    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0px 2px;
}

.team-nav-panel-item-rope{
    width: 70%;
    height: 20px;

    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0px 2px;

    animation: translateYTeamsNavPanelDropDownRope 1s ease-in-out 0s forwards;
}

.teams-nav-panel-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2px;

    font-weight: 400;
    color: white;

    font-size: 20px;

    backdrop-filter: blur(10px);
    box-shadow: inset 60px 10px 40px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(255, 255, 255, 0.5);

    border-style: solid;
    border-color: white;
    border-width: 2px 0px 0px 1px;

    padding: 4px 28px;
}

.teams-nav-panel-item:hover{
    background-color: black;
    box-shadow: inset 60px 10px 40px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(255, 255, 255, 1);
    /* color: black; */

    /* animation: translateX 1s ease-in-out 0s forwards; */

    transition: 0.5s;
}

.teams-nav-panel-item-animation:hover{
    animation: shiverAnimation 1s ease-in-out 0s forwards;
}

.teams-nav-panel-item:hover .team-nav-panel-dropdown-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-nav-drop-down-ul{
    display:flex;
    flex-direction: column;

    width: max-content;
    height: fit-content;
    
    position: absolute;
    top: 100%;
    right: auto;
    
    text-align: left;
    align-self: auto;
    margin-top: 0;

    padding: 0;

    /* backdrop-filter: blur(10px); */
    
    transition: 1s;
}

.teams-nav-panel-item:hover .teams-nav-drop-down-ul{
    transition: 1s;
}


@media screen and (max-width: 800px) {
    .teams-nav-panel{
        width: 80%;
    }
    .teams-nav-panel-item{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .teams-nav-panel-item{
        font-size: 17px;
    }
}

@media screen and (max-width: 480px) {
    .teams-nav-panel-item{
        font-size: 16px;
    }
}






/* ######################################################### */
.team-members-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    column-gap: 50px;
    row-gap: 50px;

    height: 100%;
    width: 100%;
    max-width: 100%;

    /* backdrop-filter: blur(3px); */

    padding: 50px 60px;
    box-sizing: border-box;
}

.team-member-por-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    row-gap: 50px;

    flex-wrap: wrap;

    /* padding: 10px; */


    transition: 3s;
}


/* ################################################################# */
/* Member Card that contains all the member details */
.member-card{
    display: flex;
    flex-direction: row;
    column-gap: 30px;

    padding: 30px 30px;

    backdrop-filter: blur(10px);
    box-shadow: inset 2px 2px 200px rgba(0, 0, 0, 0), 5px 5px 5px rgba(255, 255, 255, 0.5);


    border-style: solid;
    border-color: white;
    border-width: 1px 0px 0px 1px;

    color: white;

    z-index: 10;

    transition: 0.5s;
}
.member-card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.member-card-image-sociallinks-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.member-card-image{
    width: 120px;
    height: 120px;

    border-radius: 50%;

    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);

    transition: 0.5s;
}
.member-card:hover .member-card-image{
    border-radius: 0px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0);

    transition: 0.5s;
}

.member-card-social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;

    column-gap: 10px;
}
.member-card-social-icon{
    color: white;
    font-size: 30px;
}
.member-card-social-icon:hover{
    transform: scale(1.25);
}


.member-card-info-content-container{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    max-width: 280px;
    width: 280px;
}

.member-card-name-por-container{
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    font-weight: bold;
    text-align: left;

    font-family: 'Roboto', sans-serif;

}
.member-card-name{
    font-size: 24px;
}
.member-card-por{
    text-transform: uppercase;
    font-size: 18px;

    text-decoration: underline;
    text-underline-offset: 10px;
    /* border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    
    padding: 0px 0px 8px 0px; */
}
.member-card-quote{
    font-size: 20px;
    text-align: left;
    font-style: italic;
    
    font-family: Mason Sans OT ,serif;
}


@media screen and (max-width: 800px) {
    .member-card{
        padding: 27px;
        column-gap: 30px;
    }    
    .member-card-image-sociallinks-container{
        row-gap: 10px;
    }
    .member-card-image{
        width: 110px;
        height: 110px;
    }
    .member-card-social-links{
        column-gap: 10px;
    }
    .member-card-social-icon{
        font-size: 26px;
    }
    .member-card-info-content-container{
        row-gap: 16px;
        max-width: 260px;
        width: 260px;
    }
    .member-card-name-por-container{
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 22px;
    }
    .member-card-por{
        font-size: 16px;
    }
    .member-card-quote{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .member-card{
        padding: 24px 24px;
        column-gap: 30px;
    }    
    .member-card-image-sociallinks-container{
        row-gap: 10px;
    }
    .member-card-image{
        width: 100px;
        height: 100px;
    }
    .member-card-social-links{
        column-gap: 10px;
    }
    .member-card-social-icon{
        font-size: 24px;
    }
    .member-card-info-content-container{
        row-gap: 16px;
        max-width: 240px;
        width: 70%;
        min-width: 200px;
    }
    .member-card-name-por-container{
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 20px;
    }
    .member-card-por{
        font-size: 14px;
    }
    .member-card-quote{
        font-size: 16px;
    }
}


@media screen and (max-width:480px) {
    .member-card{
        flex-direction: column;
        width: 300px;
        align-content: center;
        justify-content: center;

        row-gap: 12px;

        padding: 24px 36px;
    }

    .member-card-image-sociallinks-container{
        flex-direction: row;
        justify-content: center;
        column-gap: 24px;
    }

    .member-card-social-links{
        flex-direction: column;
        justify-content: space-evenly;
    } 

    .member-card-image{
        border-radius: 0px;
        width: 120px;
        height: 120px;
    }
    .member-card-social-icon{
        font-size: 30px;
    }
    .member-card-info-content-container{
        /* align-items: center; */
        /* text-align: center; */
        row-gap: 20px;
        max-width: 300px;
        width: 100%;
    }
    .member-card-name-por-container{
        text-align: r;
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 20px;
    }
    .member-card-por{
        font-size: 14px;
    }
    .member-card-quote{
        text-align: left;
        font-size: 16px;
    }
}

@media screen and (max-width:400px) {
    .member-card{
        width: 280px;
        row-gap: 12px;
    }

    .member-card-image{
        border-radius: 0px;
        width: 120px;
        height: 120px;
    }
    .member-card-social-icon{
        font-size: 28px;
    }
    .member-card-info-content-container{
        /* align-items: center; */
        /* text-align: center; */
        row-gap: 20px;
        max-width: 320px;
        width: 100%;
    }
    .member-card-name-por-container{
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 20px;
    }
    .member-card-por{
        font-size: 14px;
    }
    .member-card-quote{
        text-align: left;
        font-size: 16px;
    }
}

/* @media (hover: none) {
    .member-card{
        background-color: red;
    }
} */



















.alumni-select-tag{
    appearance: none;

    -webkit-appearance: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2px;

    font-weight: 400;
    color: white;

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

    background-color: transparent;

    backdrop-filter: blur(10px);
    box-shadow: inset 60px 10px 40px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(255, 255, 255, 0.5);

    border-style: solid;
    border-color: white;
    border-width: 2px 0px 0px 1px;

    
    padding: 8px 28px;
}

.alumni-select-tag:focus{
    outline: none;
}

@media screen and (max-width: 800px) {
    .alumni-select-tag{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .alumni-select-tag{
        font-size: 17px;
    }
}

@media screen and (max-width: 480px) {
    .alumni-select-tag{
        font-size: 16px;
    }
}
