.teams-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg');

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg'); */

    background-attachment: fixed;

    /* background-color: black; */
    align-items: center;
}

.teams-top{
    position: relative;

    padding: 0px;

    width: 100vw;
    height: auto;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    border-style: solid;
    border-color: #ffffff;
    border-width: 0px 0px 2px 0px;
}

.teams-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 20vh 10vw 8vh 10vw;

    text-align: center;
    align-items: center;

    /* height: auto; */

    /* transition: 0.3s; */
}

.teams-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    margin: 0vh 0vh 5vh 0vh;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0));

    font-size: 6vw;
}

.teams-top-content-tagline{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    /* margin: 0vh 0vh 5vh 0vh; */

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 7vh;
}

.teams-main-body{
    display: flex;
    flex-direction: column;

    width: 100%;

    backdrop-filter: blur(4px);

    align-items: center;
}









.teams-nav-panel{
    position: relative;
    top: 0px;
    padding: 0px;

    /* margin: 0vh 30vw; */

    display: flex;
    flex-direction: row;

    /* flex-wrap: wrap; */
    /* height: 60px; */
    width: fit-content;

    align-items: center;
    text-align: center;
    justify-content: center;

    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0px 0px 2px 0px;

    color: #ffffff;

    /* backdrop-filter: blur(10px); */
    /* background-image: linear-gradient(180deg, rgb(0, 0, 0) 15%, rgba(16, 20, 27, 0)); */
    /* transition: 1s; */
}

.teams-nav-panel-items{
    font-size: 1.5vw;
    font-weight: 400;
    /* font-style: italic; */
    color: white;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0px 25px;
}

.teams-nav-panel-items:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.teams-nav-team-button{
    background-color: transparent;
    height: fit-content;
    width: fit-content;

    border-radius: 0px;
    
    /* padding: inherit; */
    /* margin: ; */
}

.teams-nav-team-button{
    background-color: transparent;
    height: fit-content;
    width: fit-content;

    border-radius: 0px;
    border-width: 0px;
    
    /* padding: inherit; */
    margin: 0px;
    padding: 10px;
}


.teams-nav-drop-down-ul{
    display: none;

    height: fit-content;
    right: auto;
    

    /* border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1px; */

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    

    /* left: 0; */
    position: absolute;
    top: 100%;
    width: max-content;
    z-index: 2;
    text-align: left;
    align-self: auto;
    /* padding: 1.5vh 1vw; */
    /* padding-top: 2vh; */
    margin-top: 0;
    margin-left: -2.4vw;
    padding: 0vw;

    transition: 1s;
}

.teams-nav-panel-items:hover .teams-nav-drop-down-ul{
    display:flex;
    flex-direction: column;
    
    background-color:  rgba(255, 255, 255, 1);
    /* background-image: */
    /* backdrop-filter: blur(400px); */

    transition: 1s;
}

.teams-nav-drop-down-ul>a{
    color: #000000;

    /* backdrop-filter: blur(10px); */
    background-color: transparent;

    padding: 1vh 1vw;

    border: 1px solid rgba(0, 0, 0, 0.7);
    border-width: 0px 0px 1px 0px;

    transition: 0.5s;
}

.teams-nav-drop-down-ul>a:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);

    /* border-style: solid;
    border-color: #000000;
    border-width: 2px; */
}



.team-members-container{
    padding: 2vw 0vw;

    width: 100%;
    max-width: 100%;
}

.team-members-por-container{
    display: flex;
    flex-direction: column;

    /* width: 100%; */

    padding: 20px 0px;
}

.members-por-fixed-label{
    text-transform: uppercase;
    text-decoration: underline;

    font-size: 45px;

    padding: 30px;
}

.members-por-cards-container{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    padding: 10px;

    align-items: center;
    justify-content: space-evenly;

    transition: 3s;

}


.member-card{
    width:min-content;
    padding: 6px;


    border-radius: 2px;

    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 1);
    color: black;

    /* box-shadow: inset 50px 170px 1000px rgba(255, 255, 255, 0.5); */


    transition: 3s;
}

.member-card-main{
    display: flex;
    flex-direction: column;

    position: relative;

    align-items: center;
    text-align: center;

    height: 260px;

    transition: 3s;

}

.member-card-image{
    position: relative;

    width: auto;
    height: fit-content;

    border-radius: 2px;

    transition: 3s;
}

.member-card-image-object{
    width: 200px;
    height: 200px;

    border-radius: 2px;

    transition: 3s;
}

.member-card-name{
    padding: 1vh 0vh;

    font-size: 23px;
    font-weight: 600;
    color: black;

    /* transition: display 0.3s; */
    transition: 3s;
}

.member-card:hover{
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* backdrop-filter: blur(30px); */

    display: flex;
    flex-direction: row;
    /* transition: 0.3s; */
    height: 260px;
    transition: 3s;
}

.member-card:hover .member-card-name{
    display: none;
    
    transition: 3s;
}

.member-card:hover .member-card-image-object{
    height: 260px;
    width: 260px;
    transition: 0.3s;
}

.member-card-left{
    display: none;
    transition: 3s;
}

.member-card:hover .member-card-left{
    display: block;

    transition: 3s;
}

.member-card:hover .member-card-main{
    display: none;

    transition: 3s;
}

.member-card-right{
    display: none;
    padding: 10px 15px 10px 25px;
    width:max-content;
    max-width: 20vw;
    text-align: left;
    justify-content: center;

    transition: 3s;

}

.member-card:hover .member-card-right{
    display: flex;
    flex-direction: column;
    transition: 3s;
}

.member-card-right-name{
    font-size: 3.5vh;
    font-weight: 800;

    transition: 3s;
}

.member-card-right-quote{
    font-size: 2.5vh;

    padding: 2vh 0vh;

    transition: 3s;
}

.member-card-links{
    display: flex;
    flex-direction: row;

    transition: 3s;
}

.member-card-links>a>img{
    height: 2.2vw;

    transition: 3s;
}

.member-card-links>a{
    margin: 1vw 2vw 0vw 0vw;

    transition: 3s;
}