.teams-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    background-image: url('../../media/backgrounds/teams.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.teams-top{
    position: relative;
    
    padding: 0px;
    
    width: 100vw;
    height: auto;
    
    border-style: solid;
    border-color: #ffffff;
    border-width: 0px 0px 2px 0px;
}

.teams-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;
    
    padding: 160px 60px 40px 60px;
    box-sizing: border-box;
    
    text-align: center;
    align-items: center;
}

.teams-top-content-title{
    position: relative;
    
    width: fit-content;
    
    padding: 0px 24px;
    box-sizing: border-box;
    
    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;
    
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0));
    
    font-size: 84px;

    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.teams-top-content-tagline{
    position: relative;
    
    width: fit-content;
    
    padding: 20px 0px 0px 0px;
    
    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;
    
    font-size: 48px;
}

@media screen and (max-width: 1000px) {
    .teams-top-content{
        padding: 140px 40px 30px 40px;
    }
    
    .teams-top-content-title{
        padding: 0px 24px;
        font-size: 76px;
    }
    
    .teams-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 44px;
    }
}

@media screen and (max-width: 800px) {
    .teams-top-content{
        padding: 100px 20px 26px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 24px;
        font-size: 64px;
    }
    
    .teams-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 36px;
    }
}

@media screen and (max-width: 600px) {
    .teams-top-content{
        padding: 86px 20px 24px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 22px;
        font-size: 56px;
    }
    
    .teams-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .teams-top-content{
        padding: 86px 20px 20px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 22px;
        font-size: 48px;
    }
    
    .teams-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 26px;
    }
}

@media screen and (max-width: 400px) {
    .teams-top-content{
        padding: 86px 20px 20px 20px;
    }
    
    .teams-top-content-title{
        padding: 0px 20px;
        font-size: 40px;
    }
    
    .teams-top-content-tagline{
        padding: 22px 0px 0px 0px;
        font-size: 22px;
    }
}



























.teams-main-body{
    /* display: block; */
    /* flex-direction: column; */

    position: relative;
    background-color: rgba(0, 0, 0, 0.7);

    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    /* height: 800px; */
}

.teams-main-body-lights-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px);
    overflow: hidden;
}


.teams-main-body-details-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    top: 0px;
    /* backdrop-filter: blur(4px); */
    /* background-color: black; */
    align-items: center;

    box-sizing: border-box;
    /* background-color: #000000; */
}









.teams-nav-panel{
    position: relative;
    top: 0px;
    padding: 0px;

    /* margin: 0vh 30vw; */

    display: flex;
    flex-direction: row;

    /* flex-wrap: wrap; */
    /* height: 60px; */
    width: fit-content;

    align-items: center;
    text-align: center;
    justify-content: center;

    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0px 0px 2px 0px;

    color: #ffffff;

    /* backdrop-filter: blur(10px); */
    /* background-image: linear-gradient(180deg, rgb(0, 0, 0) 15%, rgba(16, 20, 27, 0)); */
    /* transition: 1s; */
}

.teams-nav-panel-items{
    font-size: 1.5vw;
    font-weight: 400;
    /* font-style: italic; */
    color: white;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0px 25px;
}

.teams-nav-panel-items:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.teams-nav-team-button{
    background-color: transparent;
    height: fit-content;
    width: fit-content;

    border-radius: 0px;
    
    /* padding: inherit; */
    /* margin: ; */
}

.teams-nav-team-button{
    background-color: transparent;
    height: fit-content;
    width: fit-content;

    border-radius: 0px;
    border-width: 0px;
    
    /* padding: inherit; */
    margin: 0px;
    padding: 10px;
}


.teams-nav-drop-down-ul{
    display: none;

    height: fit-content;
    right: auto;
    

    /* border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1px; */

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    

    /* left: 0; */
    position: absolute;
    top: 100%;
    width: max-content;
    z-index: 2;
    text-align: left;
    align-self: auto;
    /* padding: 1.5vh 1vw; */
    /* padding-top: 2vh; */
    margin-top: 0;
    margin-left: -2.4vw;
    padding: 0vw;

    transition: 1s;
}

.teams-nav-panel-items:hover .teams-nav-drop-down-ul{
    display:flex;
    flex-direction: column;
    
    background-color:  rgba(255, 255, 255, 1);
    /* background-image: */
    /* backdrop-filter: blur(400px); */

    transition: 1s;
}

.teams-nav-drop-down-ul>a{
    color: #000000;

    /* backdrop-filter: blur(10px); */
    background-color: transparent;

    padding: 1vh 1vw;

    border: 1px solid rgba(0, 0, 0, 0.7);
    border-width: 0px 0px 1px 0px;

    transition: 0.5s;
}

.teams-nav-drop-down-ul>a:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);

    /* border-style: solid;
    border-color: #000000;
    border-width: 2px; */
}



.team-members-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    column-gap: 50px;
    row-gap: 50px;

    height: 100%;
    width: 100%;
    max-width: 100%;

    /* backdrop-filter: blur(3px); */

    padding: 50px 50px;
    box-sizing: border-box;
}

.team-member-por-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    row-gap: 50px;

    flex-wrap: wrap;

    /* padding: 10px; */


    transition: 3s;

}





/* ################################################################# */
/* Member Card that contains all the member details */
.member-card{
    display: flex;
    flex-direction: row;
    column-gap: 30px;

    padding: 30px 30px;

    backdrop-filter: blur(10px);
    box-shadow: inset 2px 2px 200px rgba(0, 0, 0, 0), 5px 5px 5px rgba(255, 255, 255, 0.25);


    border-style: solid;
    border-color: white;
    border-width: 1px 0px 0px 1px;

    color: white;

    transition: 0.5s;
}
.member-card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.member-card-image-sociallinks-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.member-card-image{
    width: 120px;
    height: 120px;

    border-radius: 50%;

    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);

    transition: 0.5s;
}
.member-card:hover .member-card-image{
    border-radius: 0px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0);

    transition: 0.5s;
}

.member-card-social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;

    column-gap: 10px;
}
.member-card-social-icon{
    color: white;
    font-size: 28px;
}
.member-card-social-icon:hover{
    transform: scale(1.25);
}


.member-card-info-content-container{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    max-width: 280px;
    width: 280px;
}

.member-card-name-por-container{
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    font-weight: bold;
    text-align: left;

    font-family: 'Roboto', sans-serif;

}
.member-card-name{
    font-size: 24px;
}
.member-card-por{
    text-transform: uppercase;
    font-size: 18px;

    text-decoration: underline;
    text-underline-offset: 10px;
    /* border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    
    padding: 0px 0px 8px 0px; */
}
.member-card-quote{
    font-size: 20px;
    text-align: left;
    font-style: italic;
    
    font-family: Mason Sans OT ,serif;
}


@media screen and (max-width: 800px) {
    .member-card{
        padding: 27px;
        column-gap: 30px;
    }    
    .member-card-image-sociallinks-container{
        row-gap: 10px;
    }
    .member-card-image{
        width: 110px;
        height: 110px;
    }
    .member-card-social-links{
        column-gap: 10px;
    }
    .member-card-social-icon{
        font-size: 26px;
    }
    .member-card-info-content-container{
        row-gap: 16px;
        max-width: 260px;
        width: 260px;
    }
    .member-card-name-por-container{
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 22px;
    }
    .member-card-por{
        font-size: 16px;
    }
    .member-card-quote{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .member-card{
        padding: 24px 24px;
        column-gap: 30px;
    }    
    .member-card-image-sociallinks-container{
        row-gap: 10px;
    }
    .member-card-image{
        width: 100px;
        height: 100px;
    }
    .member-card-social-links{
        column-gap: 10px;
    }
    .member-card-social-icon{
        font-size: 24px;
    }
    .member-card-info-content-container{
        row-gap: 16px;
        max-width: 240px;
        width: 70%;
        min-width: 200px;
    }
    .member-card-name-por-container{
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 20px;
    }
    .member-card-por{
        font-size: 14px;
    }
    .member-card-quote{
        font-size: 16px;
    }
}


@media screen and (max-width:480px) {
    .member-card{
        flex-direction: column;
        width: 300px;
        align-content: center;
        justify-content: center;

        row-gap: 12px;

        padding: 24px 36px;
    }

    .member-card-image-sociallinks-container{
        flex-direction: row;
        justify-content: center;
        column-gap: 24px;
    }

    .member-card-social-links{
        flex-direction: column;
        justify-content: space-evenly;
    } 

    .member-card-image{
        border-radius: 0px;
        width: 120px;
        height: 120px;
    }
    .member-card-social-icon{
        font-size: 30px;
    }
    .member-card-info-content-container{
        /* align-items: center; */
        /* text-align: center; */
        row-gap: 20px;
        max-width: 300px;
        width: 100%;
    }
    .member-card-name-por-container{
        text-align: r;
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 20px;
    }
    .member-card-por{
        font-size: 14px;
    }
    .member-card-quote{
        text-align: left;
        font-size: 16px;
    }
}

@media screen and (max-width:400px) {
    .member-card{
        width: 280px;
        row-gap: 12px;
    }

    .member-card-image{
        border-radius: 0px;
        width: 120px;
        height: 120px;
    }
    .member-card-social-icon{
        font-size: 28px;
    }
    .member-card-info-content-container{
        /* align-items: center; */
        /* text-align: center; */
        row-gap: 20px;
        max-width: 300px;
        width: 100%;
    }
    .member-card-name-por-container{
        row-gap: 4px;
    }
    .member-card-name{
        font-size: 20px;
    }
    .member-card-por{
        font-size: 14px;
    }
    .member-card-quote{
        text-align: left;
        font-size: 16px;
    }
}

/* @media (hover: none) {
    .member-card{
        background-color: red;
    }
} */



















