.puzzles-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    background-attachment: fixed;
}

.puzzles-top{
    position: relative;

    padding: 0px;

    width: 100vw;
    height: auto;

    background-color: rgba(0, 0, 0, 0.4);
}

.puzzles-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 20vh 10vw 8vh 10vw;

    text-align: center;
    align-items: center;
}

.puzzles-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    margin: 0vh 0vh 5vh 0vh;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0));

    font-size: 6vw;
}

.puzzles-top-content-tagline{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    /* margin: 0vh 0vh 5vh 0vh; */

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 7vh;
}




.puzzles-body{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    background-color: rgba(255, 255, 255, 1);

    color: black;

    width: 100%;
    max-width: 100%;

    padding: 50px 60px 0px 60px;
    box-sizing: border-box;
}





/* ####################################################################################################### */
/* 1. Puzzles section where all the cards are present
   2. Puzzle Cards */
.puzzles-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    row-gap: 50px;
    column-gap: 50px;

    padding: 10px 0px 50px 0px;
    margin: 0vh 0vh 50px 0vh;
    box-sizing: border-box;

    color: black;

    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0px 0px 2px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0)) 1 0%;
}



.puzzle-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    width: auto;

    margin: 0px;

    transition: 0.5s;
}

.puzzle-card-image-container{    
    display: block;
    
    height: 240px;
    width: 360px;
    
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
}

.puzzle-card-image{
    height: inherit;
    width: inherit;

    background-repeat:no-repeat;
    background-size: cover; 

    transition: 0.5s;
}

.puzzle-card:hover>.puzzle-card-image-container>.puzzle-card-image{
    transition: 0.7s;
    transform: scale(1.05);
}

.puzzle-card-content-container{
    margin: 12px 0px 0px 0px;

    width: 300px;
    height: fit-content;
    
    text-transform: uppercase;
    font-weight: 600;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.puzzle-card-title{
    color: black;
    font-size: 16px;
}

.puzzle-card-author{
    padding: 2px 0px 0px 0px;
    font-size: 15px;
    color: gray;
}

@media screen and (max-width:480px) {
    .puzzle-card-image-container{    
        height: 210px;
        width: 315px;
    }
    .puzzle-card-content-container{
        width: 290px;
    }
    .puzzle-card-title{
        font-size: 14px;
    }
    .puzzle-card-author{
        font-size: 13px;
    }
}

@media screen and (max-width:380px) {
    .puzzles-contents{
        row-gap: 30px;
    }

    .puzzle-card-image-container{    
        height: 180px;
        width: 270px;
    }
    .puzzle-card-content-container{
        width: 250px;
    }
    .puzzle-card-title{
        font-size: 13px;
    }
    .puzzle-card-author{
        font-size: 12px;
    }
}








