.puzzles-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg');

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg'); */

    background-attachment: fixed;

    /* background-color: black; */
}

.puzzles-top{
    position: relative;

    padding: 0px;

    width: 100vw;
    height: auto;
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: rgba(0, 0, 0, 0.4);
}

.puzzles-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 20vh 10vw 8vh 10vw;

    text-align: center;
    align-items: center;

    /* height: auto; */

    /* transition: 0.3s; */
}

.puzzles-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    margin: 0vh 0vh 5vh 0vh;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0));

    font-size: 6vw;
}

.puzzles-top-content-tagline{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    /* margin: 0vh 0vh 5vh 0vh; */

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 7vh;
}


.puzzles-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: rgba(255, 255, 255, 1);

    /* background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0.4)); */

    color: black;

    width: 100%;
    /* height: 10px; */

    padding: 8vh 0vh 0vh 0vh;

    align-items: center;
    justify-items: center;
}

.puzzles-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 100px 100px 50px 100px;

    color: black;

    width: 100%;

    padding: 0vh 0vw;
    margin: 0vh 0vh 5vh 0vh;

    /* align-items: center; */
    /* justify-items: center; */

    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0px 0px 2px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0)) 1 0%;
}





/* .puzzle-card-anchor{
    flex-basis: calc(100%/3);
} */



.puzzle-card{
    display: flex;
    flex-direction: column;


    height: auto;
    width: auto;

    margin: 0px 20px 50px 20px;

    
    /* backdrop-filter: blur(20px); */
    
    /* background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)); */
    
    /* border-radius: 2px; */
    
    transition: 0.5s;
}

.puzzle-card-image-container{    
    display: block;
    
    height: 14vw;
    width: 23vw;
    
    /* border: 2px solid rgb(0, 0, 0); */
    overflow: hidden;

    /* z-index: 10; */
}

.puzzle-card-image{
    height: inherit;
    width: inherit;

    background-repeat:no-repeat;
    background-size: cover; 

    transition: 1s;
}

.puzzle-card:hover>.puzzle-card-image-container>.puzzle-card-image{
    transition: 1s;
    transform: scale(1.05);
}

.puzzle-card-content-container{
    margin: 12px 0px 0px 0px;
    width: 23vw;
    height: fit-content;
}

.puzzle-card-title{
    text-transform: uppercase;

    color: black;
    font-weight: 600;
    font-size: 16px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.puzzle-card-author{
    text-transform: uppercase;

    padding: 4px 0px 0px 0px;
    color: gray;

    font-weight: 600;
    font-size: 15px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}








