.home-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    box-sizing: border-box;

    background-attachment: fixed;
    
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), 
    /* url('../../media/images/meet2.jpeg') */
    ;
    background-size: cover;
}



.home-top{
    position: relative;
    top: 100px;

    padding: 0px;

    width: 100vw;
    height: auto;
}

.home-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 20vh 10vw 8vh 10vw;

    text-align: center;
    align-items: center;
}

.home-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    margin: 0vh 0vh 5vh 0vh;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;
    
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0));

    /* color: black; */
    font-size: 6vw;
}

.home-top-content-tagline{
    position: relative;
    
    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;
    
    /* margin: 0vh 0vh 5vh 0vh; */
    
    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    /* color: black; */
    font-size: 7vh;
}


.home-main-inner{
    position: relative;
    /* top: 120px; */
    left: 0px;
    display: flex;
    flex-direction: column;
    
    position: relative;
    width: 100%;
    max-width: 100%;
    
    height: auto;
    
    color: black;
    /* backdrop-filter: blur(10px); */
    
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;

    /* justify-content: center; */
    align-items: center;
}






@keyframes SocDescTranslateX1 {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes SocDescTranslateX2 {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes SocDescFadeIn {
    0% {
        scale: 0.8;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}


.home-society-desc-row1-animation{
    animation: SocDescFadeIn 1s forwards ease-in-out 0s;
}
.home-society-desc-row2-animation{
    animation: SocDescFadeIn 1s forwards ease-in-out 0s;
}
.home-society-desc-content-row1-animation{
    animation: SocDescTranslateX1 1.5s forwards ease-in-out 0s;
}
.home-society-desc-content-row2-animation{
    animation: SocDescTranslateX2 1.5s forwards ease-in-out 0s;
}





/* ##################################################################################################################################### */
/* Second Part of Home Page (contains the description of LitSoc) */
.home-society-desc-container{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

    max-width: 100%;
    overflow: hidden;

    background-image: linear-gradient(315deg, rgba(0, 0, 0, 1) 0%, rgba(63, 91, 128, 1))
    /* , url('../../media/images/meet2.jpeg') */
    ;

    width: 100%;
    max-width: 100%;

    height: fit-content;
    /* min-height: 100vh; */

    padding: 60px 0px;

    box-sizing: border-box;
}

.home-society-desc-row1{
    display: flex;
    flex-direction: row;

    width: 70%;

    color: white;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-image: linear-gradient(90deg, rgba(63, 91, 128, 1) 30%, rgba(0, 0, 0, 0)), url('../../media/images/meet2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;

    text-align: left;

    z-index: 2;

    padding: 20px 0px;
}

.home-society-desc-content-row1{
    width: 45%;
    text-align: right;

    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    opacity: 0;

    transform: translateX(-100%);
}


.home-society-desc-row2{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(270deg, rgba(0 , 0, 0, 1) 30%, rgba(0, 0, 0, 0)), url('../../media/images/meet2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;

    z-index: 2;


    text-align: left;

    padding: 20px 0px;

}

.home-society-desc-content-row2{
    /* padding: 16px 0px; */
    width: 45%;
    text-align: left;

    padding: 10px 20px;

    opacity: 0;

    transform: translateX(100%);
}


.home-society-desc-title{
    font-size: 60px;
    font-weight: 900;
}

.home-society-desc-para{

    width: 80%;
    font-size: 18px;
    /* text-transform: uppercase; */

    font-family: Sofia Pro;

    /* font-weight: 600; */
}

@media screen and (max-width: 1320px) {
    .home-society-desc-row1{
        width: 75%;
    }
    .home-society-desc-row2{
        width: 75%;
    }  
} 
@media screen and (max-width: 1280px) {
    .home-society-desc-title{
        font-size: 54px;
    }
}
@media screen and (max-width: 1200px) {
    .home-society-desc-row1{
        width: 80%;
    }
    .home-society-desc-row2{
        width: 80%;
    }  
}
@media screen and (max-width: 1040px) {
    .home-society-desc-row1{
        width: 85%;
    }
    .home-society-desc-row2{
        width: 85%;
    }  
}
@media screen and (max-width: 980px) {
    .home-society-desc-content-row1{
        width: 50%;
    }  
    .home-society-desc-content-row2{
        width: 50%;
    }  
}
@media screen and (max-width: 880px) {
    .home-society-desc-container{
        padding: 30px 0px;
    }
    .home-society-desc-row1{
        width: 90%;
    }
    .home-society-desc-row2{
        width: 90%;
    }  
}
@media screen and (max-width: 780px) {
    .home-society-desc-container{
        padding: 0px 0px;
        row-gap: 0px;
    }
    .home-society-desc-row1{
        width: 100%;
    }
    .home-society-desc-row2{
        width: 100%;
    }  

}
@media screen and (max-width: 680px) {
    .home-society-desc-title{
        font-size: 44px;
    }
    .home-society-desc-content-row1{
        width: 60%;
    }  
    .home-society-desc-content-row2{
        width: 60%;
    }  
}
@media screen and (max-width: 580px) {
    .home-society-desc-title{
        font-size: 32px;
    }
}
@media screen and (max-width: 480px) {
    .home-society-desc-para{
        width: 100%;
    }
    .home-society-desc-content-row1{
        align-items: flex-start;
        text-align: left;
    }  
    .home-society-desc-row1{
        background-image: linear-gradient(90deg, rgba(63, 91, 128, 1) 50%, rgba(0, 0, 0, 0)), url('../../media/images/meet2.jpeg')
    }
    .home-society-desc-row2{
        background-image: linear-gradient(270deg, rgba(0 , 0, 0, 1) 50%, rgba(0, 0, 0, 0)), url('../../media/images/meet2.jpeg')
    }
    .home-society-desc-content-row2{
        align-items: flex-end;
        text-align: right;
    }  
}
@media screen and (max-width: 400px) {
    .home-society-desc-content-row1{
        width: 80%;
    }  
    .home-society-desc-content-row2{
        width: 80%;
    }  
    .home-society-desc-title{
        font-size: 26px;
    }
    .home-society-desc-para{
        font-size: 16px;
    }
}
















/* ####################################################################################### */
/* Home Page Featured Section */

@keyframes ZoomInZoomOut {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes HomeFeaturedContentFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.home-featured-container{
    position: relative;

    display: flex;
    align-items: center;

    height: fit-content;
    min-height: 100vh;

    overflow: hidden;
}
.home-featured-container-bg{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    background-image: url('../../media/images/otacon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;

    animation: ZoomInZoomOut 3s forwards;
    z-index: 0;
}
.home-featured-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: #ffffff;

    opacity: 0;

    padding: 120px 20% 50px 20%;
    box-sizing: border-box;

    animation: HomeFeaturedContentFadeIn 3s forwards ease-in-out 0.5s; 

    z-index: 4;
}
.home-featured-title{
    font-size: 84px;
    /* font-family: Bluu Next,serif; */;
    font-weight: 600;

    padding: 10px 0px 0px 0px;
    z-index: 4;
}
.home-featured-tagline{
    font-size: 44px;
    font-family: Bluu Next,serif;

    padding: 0px;
    z-index: 4;
}
.home-featured-description{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;

    padding: 20px 100px 0px 100px;
    z-index: 4;
}

.home-featured-button-container{
    padding: 20px 0px 0px 0px;
    z-index: 4;
}

.home-featured-button{
    border: solid #ffffff 2px;
    background-color: white;
    border-radius: 28px;

    margin: 20px 0px 0px 0px;
    padding: 12px 24px;

    color: black;
    /* color: transparent; */
    text-decoration: none;
    
    /* background-color: #ffffff; */
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    background-clip: text;
}

.home-featured-button:hover{
    transform: scaleX(1.05) scaleY(1.1);
    border: solid black 2px;

    transition: 0.5s;
}

@media screen and (max-width: 1000px) {
    .home-featured-description{
        padding: 20px 60px 0px 60px;
    }    
}

@media screen and (max-width: 800px) {
    .home-featured-description{
        font-size: 16px;
    }
    .home-featured-content-container{
        padding: 0px 5% 50px 5%;
    }
}

@media screen and (max-width: 660px) {
    .home-featured-content-container{
        padding: 120px 5% 50px 5%;
    }
    .home-featured-description{
        padding: 20px 40px 0px 40px;
    }
}

@media screen and (max-width: 600px) {
    .home-featured-title{
        font-size: 64px;
    }
    .home-featured-tagline{
        font-size: 32px;
    }
    .home-featured-description{
        font-size: 14px;
    }
    .home-featured-content-container{
        padding: 60px 5% 50px 5%;
    }
    .home-featured-button{
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    .home-featured-title{
        font-size: 56px;
    }
    .home-featured-tagline{
        font-size: 28px;
    }
    .home-featured-description{
        font-size: 12px;
    }
    .home-featured-content-container{
        padding: 60px 5% 50px 5%;
    }
    .home-featured-button{
        font-size: 16px;
    }
}





/* ###################################################################################################################### */
/* All Sections Description Cards */ 
@keyframes HomeAllDescFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes HomeAllDescBorderScale {
    0% {
        transform: translate(-30px, -30px) scaleY(0);
    }

    100% {
        transform: translate(-30px, -30px) scaleY(1);
    }
}
@keyframes HomeAllSec45DegRotate {
    0% {
        transform: rotate(-90deg) translate(-15%, 90%);
    }

    100% {
        transform: rotate(-20deg) translate(-15%, 40%);
    }
}

.home-all-desc-card-animate{
    animation: HomeAllDescFadeIn 1s forwards ease-in-out 0s;
}
.home-all-desc-card-border-animate{
    animation: HomeAllDescBorderScale 1s forwards ease-in-out 0s;
}
.home-all-desc-45rotate-container-animate{
    animation: HomeAllSec45DegRotate 1s forwards ease-in-out 0s;
}


.home-all-sections-desc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

    column-gap: 60px;
    row-gap: 60px;

    width: 100%;
    padding: 80px 10%;
    box-sizing: border-box;

    /* background-color: rgba(63, 91, 128, 1); */
    background-image: linear-gradient(225deg, rgba(0, 0, 0, 0.5) 0%, rgba(63, 91, 128, 0.5)), url('../../media/images/meet2.jpeg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 1;
}

.home-all-desc-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    
    /* border: solid 1px rgb(0, 0, 0); */
    /* background-color: black; */
    /* border-style: solid; */
    /* border-color: white; */
    /* border-width: 0px 0px 0px 0px;; */

    opacity: 0;

    background-size: cover;

    padding: 16px 0px 0px 16px;
    box-sizing: border-box;

    /* overflow: hidden; */
    text-align: left;
    z-index: 2;

    transition: 0.5s;
}

.home-all-desc-card-border{
    position: absolute;
    /* top: -20px; */
    /* left: -20px; */
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 2px 2px 0px 2px;

    z-index: 100;

    height: 300px;
    width: 300px;

    transform-origin: top;
    transform: translate(-30px, -30px) scaleY(0);

    z-index: 2;


    transition: 0.5s;
}

.home-all-desc-45rotate-container{
    background-color: rgba(63, 91, 128, 1);
    /* background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.1) 100%, rgba(63, 91, 128, 0)); */
    background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 10%, rgba(63, 91, 128, 0.5));

    z-index: 2;


    padding: 20px 40px;

    /* margin: -50px -20px; */

    width: 120%;
    height: 120%;
    transform: rotate(-90deg) translate(-15%, 40%);

    transition: 0.5s;
}

.home-all-desc-content-container{
    position: absolute;
    /* background-color: purple; */
    box-sizing: border-box;
    padding: 0px 120px 0px 60px;
    transform: rotate(20deg) translate(0%, 0%);
    color: white;
    z-index: 2;

    transition: 0.5s;
}

.home-all-desc-card-title{
    width: 50%;
    text-align: left;

    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;

    z-index: 2;

    transition: 0.5s;
}

.home-all-sec-content-box-container{
    display: flex;
    flex-direction: column;

    text-align: right;
    
    position: absolute;

    z-index: 2;
    transform: translate(-36px, 10px);
    height: 280px;
    width: 320px;
    overflow: hidden;

    font-size: 18px;

    z-index: 100;

    transition: 0.5s;
}

#home-all-desc-events{
    background-image: url('../../media/images/wgc.jpg');
}
#home-all-desc-reader{
    background-image: url('../../media/backgrounds/readsec.jpg');
}
#home-all-desc-puzzles{
    background-image: url('../../media/backgrounds/puzzles.jpg');
}
#home-all-desc-library{
    background-image: url('../../media/backgrounds/library.jpg');
}
#home-all-desc-team{
    background-image: url('../../media/images/meet2.jpeg');
    background-position: center;
}






.home-all-desc-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.home-all-desc-card:hover .home-all-desc-card-border{
    /* transform: translate(-20px, -20px); */
    transition: 0.5s;
}

.home-all-desc-card:hover .home-all-desc-45rotate-container{
    background-image: linear-gradient(315deg, rgba(0, 0, 0, 1) 10%, rgba(63, 91, 128, 0.5));
    /* transform: rotate(0deg) translate(-10%, 30%) !important; */
    transition: 0.5s;
}
.home-all-desc-card:hover .home-all-desc-content-container{
    /* transform: rotate(0deg) translate(0%, 0%) !important; */
    transition: 0.5s;
}



@media screen and (max-width: 840px) {
    .home-all-desc-card{
        height: 250px;
        width: 250px;
    }
    .home-all-desc-card-border{
        height: 250px;
        width: 250px;
    }
    .home-all-desc-45rotate-container{
        width: 100%;
        height: 100%;
    }
    .home-all-desc-content-container{
        padding: 0px 60px 0px 30px;
    }
    .home-all-desc-card-title{
        font-size: 24px;
    }
    .home-all-sec-content-box-container{
        height: 230px;
        width: 270px;
        transform: translate(-36px, 10px);

        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .home-all-desc-card{
        height: 200px;
        width: 200px;
    }
    .home-all-desc-card-border{
        height: 200px;
        width: 200px;
    }
    .home-all-desc-45rotate-container{
        width: 100%;
        height: 100%;
    }
    .home-all-desc-content-container{
        padding: 0px 60px 0px 30px;
    }
    .home-all-desc-card-title{
        font-size: 20px;
    }
    .home-all-sec-content-box-container{
        height: 180px;
        width: 220px;
        transform: translate(-36px, 10px);

        font-size: 14px;
    }
}









@keyframes StarfieldAppear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes star1Animate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
@keyframes star2Animate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
@keyframes star3Animate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home-starfield{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    animation: StarfieldAppear 4.5s forwards 0s;

    z-index: 1;
}

.home-stars-1{
    height: 1px;
    width: 1px;
    background-color: white;
    transform: rotate(45deg);
    filter: blur(0px);

    animation: star1Animate 1.5s ease-in-out 0s infinite ;
    
    z-index: 10001;
}

.home-stars-2{
    height: 2px;
    width: 2px;
    background-color: white;
    transform: rotate(45deg);
    filter: blur(1px);

    animation: star2Animate 2.5s ease-in-out 1s infinite ;
    
    z-index: 10001;
}

.home-stars-3{
    height: 1px;
    width: 1px;

    background-color: white;
    box-shadow: 1px 1px 1px 1px white;

    transform: rotate(45deg);
    /* filter: blur(1px); */

    animation: star3Animate 4s ease-in-out 2s infinite ;
}










.home-fun-data-container{
    width: 100%;
    max-width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;

    padding: 40px 60px;
    box-sizing: border-box;

    z-index: 1;
}

.fun-data-card{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.fun-data-card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 26px;
}

.fun-data-card-icon{
    font-size: 42px;
}

.fun-data-card-count{
    font-size: 32px;
}
.fun-data-card-countup-tag{
    font-size: 32px;
}
.fun-data-card-category{
    text-transform: uppercase;
    font-size: 24px;
}

@media screen and (max-width: 840px) {
    .home-fun-data-container{
        padding: 32px 50px;
    }

    .fun-data-card-icon{
        font-size: 36px;
    }
    
    .fun-data-card-count{
        font-size: 26px;
    }
    .fun-data-card-category{
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .home-fun-data-container{
        padding: 28px 50px;
        column-gap: 30px;
        justify-content: space-around;
    }

    .fun-data-card-info{
        line-height: 22px;
    }
    .fun-data-card-icon{
        font-size: 34px;
    }
    
    .fun-data-card-count{
        font-size: 24px;
    }
    .fun-data-card-category{
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .home-fun-data-container{
        padding: 28px 30px;
        column-gap: 16px;
        justify-content: space-around;
    }

    .fun-data-card-info{
        line-height: 20px;
    }
    .fun-data-card-icon{
        font-size: 32px;
    }
    
    .fun-data-card-count{
        font-size: 22px;
    }
    .fun-data-card-category{
        font-size: 14px;
    }
}






.home-loading-animation{
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-color: rgb(37, 60, 87);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0));

    z-index: 100001;

    animation: windowOpen 3s ease-in-out 2s forwards;
}
.home-loading-animation-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 200px;
    width: 200px;

    overflow: visible;

    -webkit-mask-image: url('../../media/images/white_logo.png');
    mask-image: url('../../media/images/white_logo.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;  
}

.wavies-svg{
    background-color: white;
    height: 400px;
    width: 1000px;

    animation: waveUp 5s linear forwards;
}
.wavies{
    height: 400px;
    width: 1000px;
}

.wavies > use{
    animation: waveAround 12s linear infinite;
    &:nth-child(1) { animation-delay:-2s; }
    &:nth-child(2) { animation-delay:-2s; animation-duration:5s }
    &:nth-child(3) { animation-delay:-4s; animation-duration:3s }
}
  
@keyframes waveAround{
    0% { transform: translate(-90px , 0%) }
    100% { transform: translate(85px , 0%) }
}

@keyframes waveUp {
    0% { 
        /* transform: translate(0% , 100%)  */
        transform: scaleY(0);
    }
    100% { 
        /* transform: translate(0% , -10%) */
        transform: scaleY(1); 
    }
}

@keyframes windowOpen {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    50% {
        transform: rotate3d(1, 1, 0, 90deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, -90deg);
    }
}