.club-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.club-main#word-games-club{
    background-image: url('../../media/backgrounds/wgc.jpg');
}
.club-main#oratory-club{
    background-image: url('../../media/backgrounds/oratoryclub.jpg');
}
.club-main#cwp-club{
    background-image: url('../../media/backgrounds/cwpc.jpg');
}
.club-main#book-club{
    background-image: url('../../media/backgrounds/bookclub.jpg');
}
.club-main#goonj{
    background-image: url('../../media/backgrounds/goonj.jpg');
}

.clubs-top{
    width: 100vw;
    padding: 0px 0px 40px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.clubs-top-content{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 160px 60px 0px 60px;
    box-sizing: border-box;

    text-align: center;
}

.clubs-top-content-title{
    width: fit-content;
    
    padding: 0px 24px;
    box-sizing: border-box;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0));

    font-size: 84px;
}

.clubs-top-content-title#cwp-club{
    font-size: 72px
}

.clubs-top-content-tagline{
    width: fit-content;
    
    padding: 20px 0px 0px 0px;

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 48px;
}

@media screen and (max-width: 1000px) {
    .clubs-top-content{
        padding: 140px 40px 0px 40px;
    }
    
    .clubs-top-content-title{
        padding: 0px 24px;
        font-size: 76px;
    }
    
    .clubs-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 44px;
    }

    .clubs-top-content-title#cwp-club{
        font-size: 64px
    }

    .clubs-top-content-title#word-games-club{
        font-size: 72px;
    }
    .clubs-top-content-title#oratory-club{
        font-size: 72px;
    }
}

@media screen and (max-width: 800px) {
    .clubs-top-content{
        padding: 100px 20px 0px 20px;
    }
    
    .clubs-top-content-title{
        padding: 0px 24px;
        font-size: 64px;
    }
    
    .clubs-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 36px;
    }

    .clubs-top-content-title#cwp-club{
        font-size: 56px
    }
    .clubs-top-content-title#word-games-club{
        font-size: 60px;
    }
    .clubs-top-content-title#oratory-club{
        font-size: 60px;
    }
}

@media screen and (max-width: 600px) {
    .clubs-top-content{
        padding: 86px 20px 0px 20px;
    }
    
    .clubs-top-content-title{
        padding: 0px 22px;
        font-size: 56px;
    }
    
    .clubs-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 30px;
    }

    .clubs-top-content-title#cwp-club{
        font-size: 48px
    }
    .clubs-top-content-title#word-games-club{
        font-size: 50px;
    }
    .clubs-top-content-title#oratory-club{
        font-size: 50px;
    }
}

@media screen and (max-width: 480px) {
    .clubs-top-content{
        padding: 86px 20px 0px 20px;
    }
    
    .clubs-top-content-title{
        padding: 0px 22px;
        font-size: 48px;
    }
    
    .clubs-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 26px;
    }

    .clubs-top-content-title#cwp-club{
        font-size: 40px
    }
    .clubs-top-content-title#word-games-club{
        font-size: 44px;
    }
    .clubs-top-content-title#oratory-club{
        font-size: 44px;
    }
}

@media screen and (max-width: 400px) {
    .clubs-top-content{
        padding: 86px 20px 0px 20px;
    }
    
    .clubs-top-content-title{
        padding: 0px 20px;
        font-size: 40px;
    }
    
    .clubs-top-content-tagline{
        padding: 22px 0px 0px 0px;
        font-size: 22px;
    }

    .clubs-top-content-title#cwp-club{
        font-size: 36px
    }
    .clubs-top-content-title#word-games-club{
        font-size: 36px;
    }
    .clubs-top-content-title#oratory-club{
        font-size: 36px;
    }
}





/* #################################################################### */
/* Club Description and Quotes Section */
.club-desc-quote-container{
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 50px 5vw 0px 5vw;
    box-sizing: border-box;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0)), linear-gradient(315deg, rgba(255, 255, 255, 0.25) 1%, rgba(0, 0, 0, 0));
    backdrop-filter: blur(5px);
}

.club-description-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    column-gap: 60px;

    padding: 0px 0px 60px 0px;
    box-sizing: border-box;

    border-style: solid;
    border-color: beige;
    /* border-width: 4px; */
    border-width: 0px 0px 4px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 0%;

    max-width: 100%;
    height: max-content;

}

.club-logo-container{
    width: 15vw;
    height: 15vw;

    min-height: 210px;
    min-width: 210px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    padding: 0px;
}
.club-logo-container#word-games-club{
    background-image: url('../../media/images/wgclogo.jpg');
}
.club-logo-container#oratory-club{
    background-image: url('../../media/images/oclogo.jpg');
}
.club-logo-container#cwp-club{
    background-image: url('../../media/images/cwpclogo.jpg');
}
.club-logo-container#book-club{
    background-image: url('../../media/images/bclogo.jpg');
}
.club-logo-container#goonj{
    background-image: url('../../media/images/goonjlogo.jpg');
}

.club-description{
    padding: 60px 60px 30px 60px;

    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 3px 3px 0px 0px;

    justify-content: center;
    align-items: center;

    width: 900px;
    color: rgb(255, 255, 255);
    font-size: 23px;
}

.club-desc-quote{
    padding: 60px 60px 60px 60px;

    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
}
.club-logo-container#word-games-club{
    background-image: url('../../media/images/wgclogo.jpg');
}
.club-logo-container#oratory-club{
    background-image: url('../../media/images/oclogo.jpg');
}
.club-logo-container#cwp-club{
    background-image: url('../../media/images/cwpclogo.jpg');
}
.club-logo-container#book-club{
    background-image: url('../../media/images/bclogo.jpg');
}
.club-logo-container#goonj{
    background-image: url('../../media/images/goonjlogo.jpg');
}

@media screen and (max-width: 1320px) {
    .club-description-container{
        padding: 0px 0px 40px 0px;
    }
    .club-description{
        padding: 40px 40px 24px 40px;
        font-size: 22px;
    }
    .club-logo-container{
        width: 200px;
        height: 200px;

        min-height: 200px;
        min-width: 200px;
    }
    .club-desc-quote{
        padding: 50px 60px 50px 60px;
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .club-desc-quote-container{
        padding: 36px 36px 0px 36px;
    }
    .club-description-container{
        display: flex;
        flex-direction: column;
        row-gap: 28px;        

        padding: 0px 0px 36px 0px;
        border-width: 0px 0px 2px 0px;
    }
    .club-description{
        border: solid 0px transparent;
        padding: 0px;

        font-size: 21px;
        font-weight: normal;

        width: auto;
    }
    .club-logo-container{
        width: 180px;
        height: 180px;

        min-height: 180px;
        min-width: 180px;
    }
    .club-desc-quote{
        font-size: 22px;
    }
}

@media screen and (max-width: 800px) {
    .club-desc-quote-container{
        padding: 32px 32px 0px 32px;
    }
    .club-description-container{
        row-gap: 24px;        
        
        padding: 0px 0px 30px 0px;
    }
    .club-description{
        font-size: 18px;
        font-weight: normal;
    }
    .club-logo-container{
        width: 164px;
        height: 164px;

        min-height: 164px;
        min-width: 164px;
    }
    .club-desc-quote{
        padding: 40px 50px 40px 50px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .club-desc-quote-container{
        padding: 32px 28px 0px 28px;
    }
    .club-description{
        font-size: 17px;
    }
    .club-description-container{
        row-gap: 20px;        
        border-width: 0px 0px 1px 0px;
    }
    .club-logo-container{
        width: 150px;
        height: 150px;

        min-width: 150px;
        min-height: 150px;
    }
    .club-desc-quote{
        padding: 30px 32px 30px 32px;
        font-size: 18px;
    }
}
