.nav-bar{
    display: flex;
    position: fixed;
    top: 0px;

    width: 100vw;
}

.nav-bar-main{
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;
    width: 100vw;
    height: 100%;

    backdrop-filter: blur(5px);
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(63, 91, 128, 0.7);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0));

    transition: 0.5s;
}

.nav-bar-main:hover{
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(63, 91, 128, 0.7); */
    /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 1)); */
    transition: 0.5s;
}





/* ######################################################################################## */
/* Upper Section of Navigation Bar (contains logos, login and profile buttons) */
.navbar-upper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    max-height: 100px;

    padding: 10px 36px 10px 20px;
    box-sizing: border-box;

    transition: 1s;
}

.lit-logo{
    height: 65px;
    width: 65px;

    background-image: url('../../media/images/Navbar/lit_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.iitj-logo{
    height: 65px;
    width: 59px;
    
    background-image: url('../../media/images/Navbar/Logo_IITJ.gif');
    background-size: contain;
    background-repeat: no-repeat;   

    margin: 0px 52px 0px 0px;
}

.upper-bar-hamburger-menu{
    display: none;
    cursor: pointer;

    margin: 0px 56px 0px 0px;

}

.login-button{
    background-color: #b0546f;
    border-radius: 2px;

    padding: 8px 20px 7px;

    font-family: Sofia Pro,serif;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    letter-spacing: normal;
    color: #f9f4f2;
    
    transition: .3s ease-in-out;
}

.profile-button-anchor{
    display: flex;

    height: 40px;
    width: 40px;

    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 50%;

    background-color: #b0546f;

    background-size: contain;

    align-items: center;
    justify-content: center;

    position: relative;
    color: white;
    text-align: center;

    margin: 0px 0px 0px 60px;
}

@media screen and (max-width: 1000px) {    
    .iitj-logo{
        height: 60px;
        width: 54px;
    }
    .profile-button-anchor{
        height: 38px;
        width: 38px;


    }
    .login-button{
        padding: 7px 16px 5px;
        font-size: 16px;
    }
    
}

@media screen and (max-width: 800px) {
    .navbar-upper{
        padding: 4px 22px 4px 22px;
    }

    .nav-bar-main{
        background-color: rgba(63, 91, 128, 0.7);
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0));
    }
    /* .nav-bar-main:hover{
        background-color: rgba(63, 91, 128, 0.7);
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0));
    } */

    .upper-bar-iitj-logo{
        display: none;
    }

    .upper-bar-hamburger-menu{
        display: flex;
        font-size: 32px;
        color: white;
    }

    .profile-button-anchor{
        margin: 0px 0px 0px 60px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-upper{
        padding: 4px 18px 4px 18px;
    }
    .lit-logo{
        height: 60px;
        width: 60px;
    }
    
    .profile-button-anchor{
        height: 32px;
        width: 32px;
        margin: 0px 0px 0px 40px;
    }
    .upper-bar-hamburger-menu{
        font-size: 28px;
    }
    .login-button{
        padding: 7px 12px 5px;
        font-size: 14px;
    }

    .upper-bar-hamburger-menu{
        margin: 0px 44px 0px 0px;
    }
}







.nav-panel{
    position: relative;
    top: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;

    width: inherit;

    align-items: center;
    text-align: center;
    justify-content: center;

    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 1px 0px 1px 0px;
}

.nav-panel-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2px;

    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 4px 26px 4px 26px;
}
.nav-panel-drop-down-arrow-icon{
    font-size: 24px;
}

.nav-panel-items:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
}

.nav-drop-down-ul{
    display: none;

    height: fit-content;
    right: auto;

    position: absolute;
    top: 100%;
    width: max-content;
    z-index: 2;
    text-align: left;
    align-self: auto;

    margin-top: 0;
    margin-left: -2vw;
    padding: 0vw;

    transition: 1s;
}

.nav-panel-items:hover .nav-drop-down-ul{
    display:flex;
    flex-direction: column;
    
    /* background-color: rgba(255, 255, 255, 1); */
    backdrop-filter: blur(10px);
    background-color: rgba(63, 91, 128, 1);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0));

    transition: 1s;
}

.nav-drop-down-ul>a{
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    background-color: transparent;

    padding: 6px 26px 6px 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 0px 0px 1px 0px;

    transition: 0.5s;
}

.nav-drop-down-ul>a:last-child{
    border: none;
}

.nav-drop-down-ul>a:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1100px) {
    .nav-panel-items{
        padding: 4px 20px 4px 20px;
    }
    .nav-drop-down-ul{
        margin-left: -1.8vw;
    }
}

@media screen and (max-width: 1000px) {
    .nav-panel-items{
        font-size: 18px;
        padding: 4px 18px 4px 18px;
    }
    .nav-panel-drop-down-arrow-icon{
        font-size: 22px;
    }
    .nav-drop-down-ul>a{
        font-size: 16px;
        padding: 6px 20px 6px 20px;
    }
}

@media screen and (max-width: 800px) {
    .nav-panel{
        display: none;
    }
}






.nav-side-bar{
    display: none;
    flex-direction: column;

    position: fixed;

    height: 100vh;
    width: 480px;

    padding: 28px 24px 28px 24px;
    box-sizing: border-box;

    backdrop-filter: blur(10px);
    background-color: rgba(63, 91, 128, 0.7);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.1));
    color: white;
    
    z-index: 100001;
    
    
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 0px 2px 0px 0px;
}

.nav-side-bar-upper-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    padding: 0px 0px 10px 0px;
    box-sizing: border-box;
    
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0px 0px 1px 0px;
}

.nav-side-bar-upper-bar-icons{
    font-size: 32px;
    cursor: pointer;    
}

.nav-side-bar-list{
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    padding: 32px 0px 0px 10px;
}

.nav-side-bar-list-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;

    font-size: 22px;

    color: white;

    cursor: pointer;

    text-align: left;
    line-height: 24px;

    transition: 0.3s;
}

.nav-side-bar-list-items:hover{
    transform: scale(1.02);
    color: white;

    transition: 0.3s;
}

@media screen and (max-width: 800px) {
    .nav-side-bar{
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .nav-side-bar{
        width: 100vw;
        border: none;
    }
}

@media screen and (max-width: 400px) {
    .nav-side-bar-upper-bar-icons{
        font-size: 30px;
    }
    .nav-side-bar-list-items{
        font-size: 20px;
    }
}