.sign-modal{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    backdrop-filter: blur(15px);

    z-index: 100000;
}

.sign-modal-box{
    display: flex;
    flex-direction: column;

    height: fit-content;
    max-height: 90%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    
    background-color: rgba(63, 91, 123, 0.9);
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;

    z-index: 100001;
}

.sign-modal-box#sign-up-box{
    width: max-content;
}

.sign-modal-box#sign-in-box{
    width: fit-content;
}

.sign-modal-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: auto;
    width: 100%;

    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.8);

    padding: 8px 20px;

    border-style: solid;
    border-color: #ffffff;
    border-width: 1px 0px 0px 1px;
    
    font-size: 30px;
}


.sign-modal-x-button{
    display: flex;
    
    padding: 0px;
    
    font-size: 30px;
    font-weight: 600;
}

.sign-modal-x-button:hover{
    cursor: pointer;
}

.sign-modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    min-height: 0;

    padding: 24px 40px 40px 40px;
    box-sizing: border-box;

    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;

    font-size: 20px;
    font-weight: 600;
}

.sign-modal-body-top-msg{
    font-size:25px; 
    font-weight: normal;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}


.signup-form-email-field-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sign-modal-email-reload-button{
    margin: 5px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 22px;
}
.sign-modal-email-reload-button:hover{
    cursor: pointer;
}


.signup-form-verification-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;

    column-gap: 16px;
    row-gap: 16px;
}




.signin-form-container{
    width: 100%;
    margin: 0px 0px 14px 0px;
}
.signin-form{
    width: 100%;
}
.signin-form-input-container{
    display: flex;
    flex-direction: column;

    width: 100%;
}




.signup-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    flex: 1;

    row-gap: 10px;

    overflow: auto;
}
.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;

}
.signup-form-input-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: left; */
    row-gap: 10px;

    width: 100%;
}
.signup-form-field-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    row-gap: 10px;
    column-gap: 40px;

    /* width: 100%; */
}









.input-container{
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    flex-grow: 2;
    box-sizing: border-box;

    /* width: 100%; */

    margin: 10px 0px 0px 0px;
}

.fixed-label{
    margin: 0px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: normal;
    text-align: left;
}

.input-label{
    padding: 20px 15px;

    width: 300px;

    /* flex-grow: 1; */
    /* flex: 1 1 0; */
    
    height: 0px;

    text-align: left;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;

    font-size: 15px;

    border-radius: 2px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);

    box-sizing: border-box;
}

.input-label-signup{
    padding: 20px 15px;

    width: 300px;
    max-width: 300px;

    /* flex-grow: 1; */
    /* flex: 1 1 0; */
    
    height: 0px;

    text-align: left;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;

    font-size: 15px;

    border-radius: 2px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);

    box-sizing: border-box;
}




.sign-modal-body>span{
    margin: 10px 0px 10px 0px;
    font-weight: 500;
}

.sign-modal-error-msg{
    margin: 5px 0px 0px 0px;
    font-weight: normal;
    font-size: 17px;

    width: 100%;

    text-align: left;
}

.sign-modal-button{
    width: fit-content;

    padding: 8px 15px;
    border-radius: 2px;
}


@media screen and (max-width: 800px) {
    .signup-form-field-row{
        column-gap: 40px;
    }
    .input-label-signup {
        width: 100%;
        /* min-width: 240px; */
    }
    .sign-modal-box#sign-up-box {
        width: 90%;
    }
}


@media screen and (max-width: 647px) {
    .input-container{
        flex-grow: 0;
    }
    .input-label-signup{
        /* flex-grow: 2; */
        width: 300px;
    }
}

@media screen and (max-width: 425px) {
    .input-container{
        flex-grow: 2;
    }
    .input-label-signup{
        /* flex-grow: 2; */
        /* width: 300px; */
        width: 100%;
    }
}


@media screen and (max-width: 420px) {
    .sign-modal-box#sign-in-box{
        width: 90%;
    }
    .input-label{
        width: 100%;
    }
}