.profile-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
}

.profile-page-display{
    display: flex;
    flex-direction: column;

    background-color: rgb(37, 60, 87);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0));
}


.profile-page-upper-bar{
    display: flex;
    flex-direction: row;
}

.profile-page-top{
    padding: 40px 130px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}


.profile-page-top>div>button{
    background-color: #b0546f;
    
    color: white;
    font-size: 17px;
    font-weight: bold;

    border-radius: 1px;
}













.profile-page-body{
    display: flex;
    flex-direction: column;
    
    padding: 50px 5vw;
}

.profile-page-body-general{
    display: flex;
    flex-direction: row;
    /* flex-grow: 2; */
    
    align-content: center;
    
    padding: 0px 100px 0px 100px;
}









.profile-card{
    display: flex;
    flex-direction: column;

    margin: 20px 0px;
    padding: 0px 80px 0px 20px;

    height: 600px;

    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 100%;
    
    align-items: center;
    justify-content: center;

    width: min-content;
}

.profile-card-image-container{
    position: relative;

    height: 18vw;
    width: 18vw;
    
    border: solid 1px rgb(255, 255, 255);
    
    transition: 0.5s;
}
.profile-card-image-container:hover{
    border-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

.profile-card-image{
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: 0.5s;
}

.profile-card-image-upload{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    align-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: transparent;
    background-color: transparent;

    z-index: 0;

    transition: 0.5s;
}

.profile-card-image-container:hover .profile-card-image-upload{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    z-index: 3;

    transition: 0.5s;
}

.profile-image-input-file{
    display: none;
}
/* .profile-card-image-upload>input{
    color: transparent;
    background-color: transparent;
    
    transition: 0.5s;
} */
.profile-card-image-upload>label>div{
    color: transparent;
    background-color: transparent;
    
    padding: 12px 20px;
    font-size: 18px;
    
    text-transform: uppercase;
    
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 30px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    align-content: center;
    
    cursor: pointer;
    
    transition: 0.5s;
}
/* .profile-card-image-upload:hover>input{
    color: black;
    background-color: transparent;
    
    transition: 0.3s;
} */
.profile-card-image-upload:hover>label>div{
    color: white;
    border-color: white;
    
    transition: 0.5s;
}
.profile-card-image-upload>label>div:hover{
    background-color: white;
    color: black;
    
    transition: 0.5s;
}
.profile-image-upload-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .profile-card-image-upload:hover .image-upload-label{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
} */


.profile-card-name{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* flex-wrap: wrap; */
    /* align-content: baseline; */
    
    font-size: 36px;
    font-weight: bold;

    padding: 14px 0px 4px 0px;
}

.profile-card-position{
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.profile-card-name-edit-button{
    display: none;
    font-size: 28px;

    cursor: pointer;
}
.profile-card-name:hover .profile-card-name-edit-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}











.general-data-card{
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    padding: 40px 70px;
    max-height: 600px;
    text-align: start;

    width: 100%;

    position: relative;
}
.general-data-card-books-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 8px;

    width: 100%;

    flex-grow: 2;

    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../../media/images/profilebooks.jpg');
    background-size: cover;

    padding: 12px 88px;
    box-sizing: border-box;

    border: solid transparent 1px;

    transition: 0.5s
}
.general-data-card-books-info:hover{
    transform: scale(1.02);
    border-color: white;
    transition: 0.5s;
}
.profile-issued-book-info{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 12px;
    box-sizing: border-box;
}

.profile-book-info-button{
    color: black;
    background-color: rgba(255, 255, 255, 1);

    /* width: fit-content; */
    
    padding: 16px 80px;
    font-size: 20px;
    font-weight: 400;
    
    text-transform: uppercase;
    
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
    
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    cursor: pointer;
    
    transition: 0.5s;
}
.profile-book-info-button:hover{
    /* color: rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 1);
    border-color: black;
    border-radius: 30px;
    /* border-width: 4px; */

    /* transition: 0.5s; */
}
.profile-book-info-button-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transition: 0.5s; */
}

.issuedbook-header{
    font-size: 35px;
    font-weight: bold;
}

.issuedbook-name{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.issued-book-issue-now-anchor{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.issued-book-issue-now-anchor:hover{
    color: white;
    text-decoration: underline ;
}


.general-data-card-content-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 44px;

    width: 100%;

    flex-grow: 2;

    /* background-color: rgba(0, 0, 0, 0.9); */
    background-image: url('../../media/images/cwpc3.jpg');
    background-size: cover;

    padding: 12px 88px;
    box-sizing: border-box;

    border: solid transparent 1px;

    transition: 0.5s
    /* border-radius: 10px; */
}
.general-data-card-content-info:hover{
    transform: scale(1.02);
    border-color: white;
    transition: 0.5s;
}

.profile-content-info-button{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 400;
    
    text-transform: uppercase;
    
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    cursor: pointer;
    
    transition: 0.5s;
}

.profile-content-info-button:hover{
    color: black;
    background-color: white;
    border-color: white;

    /* transition: 0.5s; */
}

.profile-content-info-button-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transition: 0.5s; */
}







.read-books-display-body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* height: 100%; */
    /* width: 100%; */

    padding: 40px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    background-color: rgba(24, 41, 58, 1);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0)), url('../../media/images/cwpc5.jpg');
    background-size: cover;

    border: solid 1px rgba(255, 255, 255, 0.5);
}

.read-books-display-upperbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 28px;
    font-weight: 600;

    padding: 0px 0px 16px 0px;

    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    /* border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 0%; */
}

.read-books-display-x-button{
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}
.read-books-display-table-display-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;

    margin: 20px 0px;
    padding: 32px 30px 0px 30px;

    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: white;

    /* max-height: 200px; */

    height: inherit;
    overflow: scroll;

    background-color: rgba(0, 0, 0, 0.2);
}

.read-books-display-table{
    width: 100%;

    border-collapse: collapse;

    overflow: scroll;
}

.read-books-display-table-headers{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px 0px 1px 0px;

    padding: 8px 0px 8px 0px;

    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
}

.read-books-display-table td{
    border-style: solid;
    border-color: rgba(245, 245, 220, 0.4);
    border-width: 0px 0px 1px 0px;

    padding: 18px 4px 18px 4px;

    font-size: 20px;
    font-weight: normal;
    /* text-transform: uppercase; */
    text-align: center;
}


.read-books-display-table-details-container{
    transition: 0.5s;
}
/* .read-books-display-table-details-container:hover{
    transform: scale(1.04);
    transition: 0.5s;
} */

.read-books-display-lower-border{
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 1px 0px;
}
.read-books-book-name{
    width: 35%;
}
.read-books-author{
    width: 45%;
}









































.content-upload-form-body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;

    padding: 40px;

    box-sizing: border-box;

    background-color: rgba(24, 41, 58, 1);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0)), url('../../media/images/cwpc.jpg');
    background-size: cover;

    border: solid 1px rgba(255, 255, 255, 0.5);
}

.upload-form-container{
    padding: 30px;
    box-sizing: border-box;

    overflow: scroll;
}
.content-upload-form-row{
    display: flex;
    flex-direction: row;

    column-gap: 30px;

}
.content-upload-form-input-container{
    display: flex;
    flex-direction: column;

    margin: 0px 0px 10px 0px;
}
.input-container-fixed-label{
    margin: 0px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: normal;
    text-align: left;
}
#titleInput{
    margin: 5px 0px 10px 0px;
    padding: 20px 15px;
    width: 90%;
    height: 0px;

    text-align: left;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;

    font-size: 15px;

    border-radius: 2px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
}

/* #categoryInput{
    margin: 5px 0px 10px 0px;
    padding: 20px 15px;
    width: 300px;
    height: 0px;

    background-color: rgba(0, 0, 0, 0.5);
    color: black;
} */

#contentInput{
    margin: 5px 0px 10px 0px;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    padding: 10px;
    box-sizing: border-box;
    resize: none;

    font-size: 15px;

    border-radius: 2px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
}
#backgroundInput{
    margin: 5px 0px 10px 0px;
}
#categoryInput{
    margin: 5px 0px 0px 0px;
}
.upload-button{
    padding: 8px 15px;
    border-radius: 2px;
}
.preview-button{
    padding: 8px 15px;
    border-radius: 2px;
}
.content-upload-form-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 20px 0px 0px 0px;
}















.uploaded-content-display-modal{
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100vw;
    height: 100vh;
    
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.3);
    
    z-index: 20000;
    
    transition: 0.5s;
}
.profile-uploaded-content-display{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    /* row-gap: 36px; */

    width: 90vw;
    height: 90vh;
    
    padding: 50px 100px;
    
    box-sizing: border-box;
    
    background-color: rgba(37, 60, 87, 1);
    /* background-image: linear-gradient(315deg, rgba(24, 28, 36, 0.8) 60%, rgba(0, 0, 0, 0)); */
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.55) 100%, rgba(0, 0, 0, 0)), url('../../media/images/readsecbg.jpg');
    border-style: solid;
    border-width: 0px 2px;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 1px;
}

.profile-uploaded-content-display-upperbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-size: 28px;
    font-weight: 600;
    
    padding: 0px 0px 16px 0px;
    
    margin: 0px 0px 20px 0px;
    
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    /* border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 0%; */
}

.profile-uploaded-content-display-x-button{
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}
.profile-uploaded-content-content-display-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    overflow-y: scroll;

    column-gap: 80px;
    row-gap: 70px;

    /* position: relative; */

    /* background-color: rgba(0, 0, 0, 0.3); */
    /* color: black; */

    width: 100%;

    padding: 2vh 0vh;

    align-items: center;
    justify-items: center;

    /* border-style: solid; */
    /* border-color: white; */
    /* border-width: 0px 0px 2px 0px; */
    /* border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)) 1 0%; */
}
.uploaded-content-display-lower-border{
    margin: 20px 0px 0px 0px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)) 1 0%;

}





































.mod-admin-section{
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    margin: 50px 0px 0px 0px;

    padding: 50px 50px 50px 50px;

    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 0%;

    text-align: start;

    align-items: center;
}

.admin-requests-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    background-color: rgb(37, 60, 87);
    
    padding: 16px 40px;

    font-size: 32px;
    font-weight: 600;

    border-radius: 2px;

    border: solid 1px rgba(255, 255, 255, 0.3);

    transition: 0.5s;

    cursor: pointer;
}

.admin-requests-card:hover{
    transform: scale(1.02);
    background-color: rgba(37, 60, 87, 0.7);

    transition: 0.5s;
}

.admin-requests-card-plus-sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.admin-action-modal{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 20000;

    transition: 0.5s;
}

.admin-action-card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    /* row-gap: 36px; */

    width: 90vw;
    height: 90vh;
    
    padding: 50px 100px;

    box-sizing: border-box;

    background-color: rgba(37, 60, 87, 1);
    background-image: linear-gradient(315deg, rgba(24, 28, 36, 0.8) 60%, rgba(0, 0, 0, 0));

    border-style: solid;
    border-width: 0px 2px;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 1px;
}

.admin-action-card-upperbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 28px;
    font-weight: 600;

    padding: 0px 0px 16px 0px;

    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    /* border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 0%; */
}

.admin-action-card-x-button{
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}














.new-moderator-section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 24px 40px 16px 40px;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;

    background-color: rgba(0, 0, 0, 0.3);
}

.new-moderator-input-button-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
}

.new-mod-sec-input-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    justify-content: center;
    align-content: center;
}

.new-mod-sec-fixed-label{
    display: flex;
    flex-wrap: wrap;

    text-transform: uppercase;
    text-align: left;
    
    font-size: 20px;

    align-content: center;
}

.new-mod-sec-input-label{
    width: 40%;
    height: 0px;
    
    padding: 20px 15px;
    
    background-color: rgba(0, 0, 0, 0.5);
    
    color: white;
    font-size: 15px;
    text-align: left;
    
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.new-mod-sec-addmod-button{
    padding: 5px 15px;
    
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;

    background-color: rgba(255, 255, 255, 1);

    transition: 0.5s;

    border-radius: 1px;
}

.new-mod-sec-addmod-button:hover{
    transform: scale(1.07);
    transition: 0.5s;
}

.new-mod-sec-error-message{
    color: rgba(255, 255, 255, 0.8);
}




.admin-section-table-display-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;

    margin: 20px 0px;
    padding: 32px 30px 0px 30px;

    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: white;

    /* max-height: 200px; */

    height: 100%;
    overflow: scroll;

    background-color: rgba(0, 0, 0, 0.2);
}

.admin-section-table{
    width: 100%;

    border-collapse: collapse;

    overflow: scroll;
}

.admin-section-table-headers{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px 0px 1px 0px;

    padding: 8px 0px 8px 0px;

    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
}

.admin-section-table td{
    border-style: solid;
    border-color: rgba(245, 245, 220, 0.4);
    border-width: 0px 0px 1px 0px;

    padding: 18px 4px 18px 4px;

    font-size: 20px;
    font-weight: normal;
    /* text-transform: uppercase; */
}


.admin-section-table-details-container{
    transition: 0.5s;
}
.admin-section-table-details-container:hover{
    transform: scale(1.04);
    transition: 0.5s;
}

.admin-action-lower-border{
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 1px 0px;
}




.moderator-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 40%;
}
.mod-name{
    /* justify-self: center; */
    width: 35%;
}
.mod-roll-number{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}
.mod-email-id{
    width: 20%;
}
.mod-phone-num{
    width: 20%;
}
.mod-remove-button{
    width: 15%;
}

.mod-remove-button>button{
    width: fit-content;
    padding: 7px 20px;

    border-radius: 2px;
}

.no-moderator-message{
    font-size: 22px;
}












.admin-action-card-search-bar{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 16px 40px 16px 40px;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;

    background-color: rgba(0, 0, 0, 0.3);
}

.admin-action-card-search-bar-container{
    display: flex;
    
    /* width: 35%; */

    font-size: 25px;

    justify-content: center;
    align-items: center;

    padding: 10px 100px 10px 0px;
}

.admin-action-card-search-bar-container>span{
    padding: 0px 20px 0px 0px;
}

.admin-action-card-search-bar-container>input{
    /* margin: 5px 0px 10px 0px; */
    padding: 20px 15px;
    width: 300px;
    height: 0px;

    text-align: left;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;

    font-size: 15px;

    border-radius: 2px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
}



.issued-books-book-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 25%;
}
.issued-books-borrower-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 25%;
}
.issued-books-book-id{
    width: 15%;
}
.issued-books-borrower-details{
    width: 15%;
}
.issued-books-borrower-roll-number{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.issued-books-issue-date{
    width: 10%;
}
.issued-books-return-date{
    width: 10%;
}
.issued-books-return-button{
    width: 15%;
}
.issued-books-return-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.no-issued-books-message{
    font-size: 22px;
}







.issue-requests-book-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 30%;
}
.issue-requests-borrower-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 30%;
}
.issue-requests-book-id{
    width: 15%;
}
.issue-requests-borrower-details{
    width: 15%;
}
.issue-requests-borrower-roll-number{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.issue-requests-return-date{
    width: 15%;
}
.issue-requests-approve-button{
    width: 10%;
}
.issue-requests-approve-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.issue-requests-reject-button{
    width: 5%;
}
.issue-requests-reject-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.no-issue-requests-message{
    font-size: 22px;
}








.content-requests-writer{
    width: 15%;
    cursor: pointer;
}
.content-requests-content-title{
    width: 10%;
    cursor: pointer;
}
.content-requests-category{
    width: 10%;
    cursor: pointer;
}
.content-requests-read-by{
    width: 10%;
}
.content-requests-approve-button{
    width: 10%;
}
.content-requests-approve-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.content-requests-reject-button{
    width: 5%;
}
.content-requests-reject-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.content-requests-writer-details{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 30%;
}
.content-requests-approval-details-status{
    font-size: 18px;
    text-transform: uppercase;
}

.no-content-upload-requests-message{
    font-size: 22px;
}

















.profile-page-loading-screen{
    position: absolute;

    height: 100vh;
    width: 100vw;
    
    background-color: rgb(37, 60, 87);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0));

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    z-index: 2;
}

.loading-dots{
    display: inline-block;
    width: 2px;
    height: 15px;
    border-radius: 10px;
    margin: 10px;
    background-color: #ffffff;
}
@keyframes jumpingAnimation {
    0 {
      transform: translate3d(0, 0,0);
    }
    50% {
      transform: translate3d(0, 15px,0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
}
@keyframes expandAnimation {
    0 {
      height: 15px;
    }
    50% {
      height: 35px;
    }
    100% {
      height: 15px;
    }
  }
.profile-page-loading-screen .loading-dots:nth-last-child(1) {
    animation: expandAnimation 3s 0.1s ease-in infinite;
}
.profile-page-loading-screen .loading-dots:nth-last-child(2) {
    animation: expandAnimation 3s 1.1s ease-in infinite;
}
.profile-page-loading-screen .loading-dots:nth-last-child(3) {
    animation: expandAnimation 3s 2.1s ease-in infinite;
}
