.profile-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
}

.profile-page-display{
    display: flex;
    flex-direction: column;

    background-color: rgb(37, 60, 87);

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0));
}


.profile-page-upper-bar{
    display: flex;
    flex-direction: row;
}

.profile-page-top{
    padding: 40px 130px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}


.profile-page-top>div>button{
    background-color: #b0546f;
    
    color: white;
    font-size: 17px;
    font-weight: bold;

    border-radius: 1px;
}













.profile-page-body{
    display: flex;
    flex-direction: column;

    padding: 50px 100px;
}

.profile-page-body-general{
    display: flex;
    flex-direction: row;
    flex-grow: 2;

    align-content: center;

}






.general-data-card{
    display: flex;
    flex-direction: column;

    margin: 40px 70px;
    max-height: 600px;
    text-align: start;
}

.general-data-card-issuedbook-info{
    padding: 0px 20px 15px 20px;

    border-style: solid;
    border-color: beige;
    border-width: 0px 0px 1px 0px;
}

.issuedbook-header{
    font-size: 35px;
    font-weight: bold;
}

.issuedbook-name{
    font-size: 25px;
    font-weight: normal;
}





.general-data-card-uploadedcontent-info{
    margin-top: 30px;

    padding: 0px 20px 15px 20px;
    border-style: solid;
    border-color: beige;
    border-width: 0px 0px 1px 0px;
}


.profile-card{
    display: flex;
    flex-direction: column;

    padding: 20px 100px 20px 20px;

    height: 600px;

    border-style: solid;
    border-color: beige;
    border-width: 0px 1px 0px 0px;
    
    align-items: center;
    justify-content: center;

    width: min-content;
}

.profile-card-image-container{
    padding: 10px 10px 3px 10px;
    background-color: white;
}

.profile-card-image{
    border-radius: 2px;
}

.profile-card-name{
    font-size: 35px;
    font-weight: bold;

    padding: 30px 0px 20px 0px;
}

.profile-card-position{
    font-size: 25px;
    font-weight: normal;
}








.mod-admin-section{
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    margin: 50px 0px 0px 0px;

    padding: 50px 50px 50px 50px;

    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), beige, rgba(0, 0, 0, 0)) 1 0%;

    text-align: start;

    align-items: center;
}

.admin-requests-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    background-color: rgb(37, 60, 87);
    
    padding: 16px 40px;

    font-size: 32px;
    font-weight: 600;

    border-radius: 2px;

    border: solid 1px rgba(255, 255, 255, 0.3);

    transition: 0.5s;

    cursor: pointer;
}

.admin-requests-card:hover{
    transform: scale(1.02);
    background-color: rgba(37, 60, 87, 0.7);

    transition: 0.5s;
}

.admin-requests-card-plus-sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
}











.book-issue-sec{
    max-height: 500px;
    border-style: solid;
    border-color: beige;
    border-width: 0px 0px 1px 0px;


    max-height: 400px;
    overflow-y: scroll;

    margin: 40px 0px;
}

.book-issue-section-header{
    font-size: 30px;
    font-weight: bold;
}











.admin-action-modal{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 20000;

    transition: 0.5s;
}

.admin-action-card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    /* row-gap: 36px; */

    width: 90vw;
    height: 90vh;
    
    padding: 50px 100px;

    box-sizing: border-box;

    background-color: rgba(37, 60, 87, 1);
    background-image: linear-gradient(315deg, rgba(24, 28, 36, 0.8) 60%, rgba(0, 0, 0, 0));

    border-style: solid;
    border-width: 0px 2px;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 1px;
}

.admin-action-card-upperbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 28px;
    font-weight: 600;

    padding: 0px 0px 16px 0px;

    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    /* border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 0%; */
}

.admin-action-card-x-button{
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}














.new-moderator-section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 24px 40px 16px 40px;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;

    background-color: rgba(0, 0, 0, 0.3);
}

.new-moderator-input-button-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
}

.new-mod-sec-input-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    justify-content: center;
    align-content: center;
}

.new-mod-sec-fixed-label{
    display: flex;
    flex-wrap: wrap;

    text-transform: uppercase;
    text-align: left;
    
    font-size: 20px;

    align-content: center;
}

.new-mod-sec-input-label{
    width: 40%;
    height: 0px;
    
    padding: 20px 15px;
    
    background-color: rgba(0, 0, 0, 0.5);
    
    color: white;
    font-size: 15px;
    text-align: left;
    
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.new-mod-sec-addmod-button{
    padding: 5px 15px;
    
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;

    background-color: rgba(255, 255, 255, 1);

    transition: 0.5s;

    border-radius: 1px;
}

.new-mod-sec-addmod-button:hover{
    transform: scale(1.07);
    transition: 0.5s;
}

.new-mod-sec-error-message{
    color: rgba(255, 255, 255, 0.8);
}




.admin-section-table-display-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;

    margin: 20px 0px;
    padding: 32px 30px 0px 30px;

    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: white;

    /* max-height: 200px; */

    height: 100%;
    overflow: scroll;

    background-color: rgba(0, 0, 0, 0.2);

}

.admin-section-table{
    width: 100%;

    border-collapse: collapse;

    overflow: scroll;

}

.admin-section-table-headers{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px 0px 1px 0px;

    padding: 8px 0px 8px 0px;

    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
}

.admin-section-table td{
    border-style: solid;
    border-color: rgba(245, 245, 220, 0.4);
    border-width: 0px 0px 1px 0px;

    padding: 14px 4px 14px 4px;

    font-size: 20px;
    font-weight: normal;
    /* text-transform: uppercase; */
}


.admin-section-table-details-container{
    transition: 0.5s;
}
.admin-section-table-details-container:hover{
    transform: scale(1.04);
    transition: 0.5s;
}

.admin-action-lower-border{
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 1px 0px;
}




.moderator-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 40%;
}
.mod-name{
    /* justify-self: center; */
    width: 35%;
}
.mod-roll-number{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}
.mod-email-id{
    width: 20%;
}
.mod-phone-num{
    width: 20%;
}
.mod-remove-button{
    width: 15%;
}

.mod-remove-button>button{
    width: fit-content;
    padding: 7px 20px;

    border-radius: 2px;
}

.no-moderator-message{
    font-size: 22px;
}
















.issued-books-book-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 25%;
}
.issued-books-borrower-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 25%;
}
.issued-books-book-id{
    width: 15%;
}
.issued-books-borrower-details{
    width: 15%;
}
.issued-books-borrower-roll-number{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.issued-books-issue-date{
    width: 10%;
}
.issued-books-return-date{
    width: 10%;
}
.issued-books-return-button{
    width: 15%;
}
.issued-books-return-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.no-issued-books-message{
    font-size: 22px;
}









.issue-requests-book-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 30%;
}
.issue-requests-borrower-details-name{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: left;

    padding-left: 30%;
}
.issue-requests-book-id{
    width: 15%;
}
.issue-requests-borrower-details{
    width: 15%;
}
.issue-requests-borrower-roll-number{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.issue-requests-return-date{
    width: 15%;
}
.issue-requests-approve-button{
    width: 10%;
}
.issue-requests-approve-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.issue-requests-reject-button{
    width: 5%;
}
.issue-requests-reject-button>button{
    width: fit-content;
    padding: 7px 20px;
    border-radius: 2px;
}
.no-issue-requests-message{
    font-size: 22px;
}








