.library-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg');

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg'); */

    background-attachment: fixed;

    /* background-color: black; */
}

.library-top{
    position: relative;

    padding: 0px;

    width: 100vw;
    height: auto;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.library-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 20vh 10vw 8vh 10vw;

    text-align: center;
    align-items: center;

    /* height: auto; */

    /* transition: 0.3s; */
}

.library-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    margin: 0vh 0vh 5vh 0vh;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0));

    font-size: 6vw;
}

.library-top-content-tagline{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    /* margin: 0vh 0vh 5vh 0vh; */

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 7vh;
}









.lib-book-issue-sec{
    display: flex;
    flex-direction: row;

    padding: 80px 100px;
    /* margin: 0px 100px; */

    height: auto;

    backdrop-filter: blur(20px);

    border-style: solid;
    border-color: #ffffff;
    border-width: 2px 0px 1px 0px;
}

.book-issue-sec-main{
    width: 100%;
    align-items: center;
}

.book-issue-search-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding: 20px 30px;

    border-style: solid;
    border-color: beige;
    border-width: 2px 0px;
}

/* .book-display-sec{
    height: 6px;
} */

.book-display-sec-table{
    /* display: flex; */

    width: 100%;

    /* border: solid beige 2px; */

    margin: 10px 0px;

    border-collapse: collapse;
}

.book-display-sec-table th{
    border-style: solid;
    border-color: beige;
    border-width: 0px 0px 2px 0px;

    padding: 4px 0px 8px 0px;

    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

.isbn{
    width:20%
}
.bookname{
    width: 40%;
}
.author{
    width: 15%;
}
.genre{
    width: 10%;
}
.button{
    width: 15%;
}

.button>button{
    width: fit-content;
     padding: 7px;

    border-radius: 5px;
}


.book-display-sec{
    height: 700px;

    overflow-y: scroll;

    border-style: solid;
    border-color: beige;
    border-width: 2px 0px 0px 0px;

    margin: 5px 0px 0px 0px;
}

.book-display-sec-table>tbody>tr>td{
    padding: 10px 0px;
}

.book-display-body:hover{
    background-color: rgba(255, 255, 255, 0,5);
}













.lib-search-bar-containers{
    display: flex;

    width: 40%;

    font-size: 25px;

    /* justify-content: center; */
    align-items: center;

    padding: 10px 30px;
}

.lib-search-bar-containers>span{
    padding: 0px 20px 0px 0px;
}

.lib-search-bar-containers>input{

    font-size: 20px;
    color: #ffffff;

    height: 25px;

    width: 50%;

    background-color: transparent;

    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 0px 2px 2px 0px;

}

.lib-search-bar-containers>input:active{

    font-size: 20px;

    max-width: 40%;

    background-color: transparent;


}
















.book-card-screen{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.5);
}

.book-card{
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: black;

    width: 80%;
    height: 80%;
}