body{
    font-family: Sofia Pro,serif;
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    overflow: auto;
}

::-webkit-scrollbar{
    display: none;
}

#root {
    position: absolute;
    top: 0px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    background-color: transparent;
    transition: 0.3s background-color ease-in;
    text-align: center;
}

.App{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 800px; */
    /* background-color: #10141b; */
    /* background-image: url('./media/images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
