.reader-sec-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    background-attachment: fixed;
    /* background-color: black; */
    justify-items: center;
    align-content: center;
}

.reader-sec-top{
    position: relative;

    padding: 0px;

    width: 100vw;
    height: auto;

    background-color: rgba(0, 0, 0, 0.65);
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0)); */

}

.reader-sec-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 20vh 10vw 8vh 10vw;

    text-align: center;
    align-items: center;
}

.reader-sec-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    margin: 0vh 0vh 5vh 0vh;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0));

    font-size: 6vw;
}

.reader-sec-top-content-tagline{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    /* margin: 0vh 0vh 5vh 0vh; */

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 3.5vw;
}



.reader-sec-body{
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.65);
}



.reader-sec-featured{
    display: flex;
    flex-direction: row;

    justify-content: center;

    background-color: white;
    /* background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(0, 0, 0, 0.2)), linear-gradient(315deg, rgba(255, 255, 255, 1) 10%, rgba(0, 0, 0, 0.2)); */
    /* linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(0, 0, 0, 0)); */
    padding: 50px;
}

.featured-image{
    height: 630px;
    width: 450px;

    /* background-color: blue; */
    background-image: url('../../media/images/syahidarpan.png');

    background-repeat: no-repeat;
    background-size: cover;

    /* position: relative; */
    /* left: 30%; */
}

.featured-content{
    height: 630px;
    width: 450px;

    margin: 115px 0px 0px 0px;
    background-color: black;

    font-family: monospace;

    padding: 15px 40px 60px 40px;

    font-size: 20px;

    align-self: center;
    align-items: center;
    align-content: center;

    /* position: relative; */
    /* left: 30%; */
    /* top: 100px; */
}









.readersec-content-main{
    display: flex;
    flex-direction: column;

    padding: 100px 100px 50px 100px;
        
}



.reader-sec-nav-panel{
    display: flex;
    flex-direction: row;

    width: 100%;

    /* border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px; */

}

.reader-sec-nav-panel-items{
    flex: 1 1 auto;
    padding: 12px 20px;
    text-transform: uppercase;

    border-bottom: solid 2px white;

    font-size: 24px;
    font-weight: 600;

    cursor: pointer;
}

.reader-sec-nav-panel-items + .reader-sec-nav-panel-items{
    border-left: solid 2px white;
}

/* .reader-sec-nav-panel-items:hover{
    background-color: rgba(255, 255, 255, 1);
    color: black;
} */


.reader-sec-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    column-gap: 40px;
    row-gap: 70px;

    /* position: relative; */

    /* background-color: rgba(0, 0, 0, 0.3); */
    color: black;

    width: 100%;

    padding: 10vh 0vh;

    align-items: center;
    justify-items: center;

    border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)) 1 0%;
}






.item-card{
    height: 16vw;
    width: 23vw;

    /* margin: 40px 40px; */

    border: 2px solid rgba(255, 255, 255, 0.85);

    backdrop-filter: blur(20px);

    /* background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)); */

    border-radius: 1px;

    transition: 0.5s;

    cursor: pointer;
}

.item-card-image-container{
    position: absolute;
    
    height: inherit;
    width: inherit;
    
    overflow: hidden;

    z-index: 10;
}    

.item-card-image{
    transition: 1s;

    padding: 15px;
    height: inherit;
    width: inherit;

    background-size: cover;
    background-repeat: no-repeat;
}



.item-card:hover>.item-card-image-container>.item-card-image{
    transition: 0.5s;
    transform: scale(1.25);
}

.item-card-content-container{
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;

    height: calc(100% - 2vw);
    width: calc(100% - 2vw);

    border: 1px solid rgba(255, 255, 255, 0.7);

    z-index: 20;

    transform: translate(-50%, -50%);

    align-items: center;
    justify-content: center;

    color: #ffffff;
}

.item-card-title{
    transition: 1s;

    font-weight: 600;
    /* text-transform: uppercase; */
    justify-content: left;

    font-size: 36px;
    padding: 10px 15px 5px 15px;
}

.item-card-author{
    transition: 1s;

    font-weight: 500;
    font-size: 28px;

    justify-content: left;

    padding: 0px 15px 10px 15px;
}

.item-card:hover>.item-card-content-container>div{
    transition: 0.7s;
    transform: scale(1.05);
}




















.item-main{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(15px);

    z-index: 10000;
}

.item-main-box{
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;

    max-width: 70%;
    max-height: 70%;

    margin: 0px;
    padding: 50px;

    transform: translate(-50%, -50%);

    color: bisque;

    backdrop-filter: blur(10px);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0));

    border-style: double;
    border-color: bisque;
    border-width: 0px 6px 6px 0px;

    /* overflow: scroll; */
}

.item-main-top{
    display: flex;
    flex-direction: row;

    position: relative;

    justify-content: space-between;

    padding: 0px 10px 20px 10px;
    margin: 0px 0px 12px 0px;

    font-size: 28px;

    border-bottom: solid 1px bisque;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), bisque, rgba(0, 0, 0, 0)) 1 0%;
}

.item-box-x-button{
    display: flex;
    align-items: center;

    cursor: pointer;
}

.item-main-body{

    /* padding: 20px 0px; */

    /* width: 100%; */

    /* border-bottom: solid 1px bisque;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), bisque, rgba(0, 0, 0, 0)) 1 0%; */

    overflow: scroll;

}

.item-main-body-content{
    font-size: 24px;
    padding: 20px 30px 10px 30px;
}

.item-main-body-author{
    padding: 0px 30px 0px 0px;

    text-align: right;

    font-size: 26px;
}

.item-main-body-bottom-border{

    margin-top: 12px;

    border-bottom: solid 1px bisque;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), bisque, rgba(0, 0, 0, 0)) 1 0%;
}

.item-main-body-remove-button{
    /* display: flex;
    justify-content: left; */
    margin: 16px 0px 0px 0px;

    transition: 0.3s;
}
.item-main-body-remove-button>button{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 20px;

    transition: 0.3s;
}
/* .item-main-body-remove-button>button:hover{
    background-color: beige;

    transition: 0.3s;
} */



.no-content-message{
    color: white;
    font-size: 40px;

    border-width: 0px;
}