.reader-sec-main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    background-image: url('../../media/backgrounds/readsec.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.reader-sec-top{
    position: relative;

    padding: 0px;

    width: 100vw;
    height: auto;

    background-color: rgba(0, 0, 0, 0.65);
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0)); */
}

.reader-sec-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 160px 60px 40px 60px;
    box-sizing: border-box;

    text-align: center;
    align-items: center;
}

.reader-sec-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 0px 24px;
    box-sizing: border-box;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0));

    font-size: 84px;
}

.reader-sec-top-content-tagline{
    position: relative;

    width: fit-content;
    
    padding: 20px 0px 0px 0px;

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 48px;
}

@media screen and (max-width: 1000px) {
    .reader-sec-top-content{
        padding: 140px 40px 30px 40px;
    }
    
    .reader-sec-top-content-title{
        padding: 0px 24px;
        font-size: 76px;
    }
    
    .reader-sec-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 44px;
    }
}

@media screen and (max-width: 800px) {
    .reader-sec-top-content{
        padding: 100px 20px 26px 20px;
    }
    
    .reader-sec-top-content-title{
        padding: 0px 24px;
        font-size: 60px;
    }
    
    .reader-sec-top-content-tagline{
        padding: 20px 0px 0px 0px;
        font-size: 36px;
    }
}

@media screen and (max-width: 600px) {
    .reader-sec-top-content{
        padding: 86px 20px 24px 20px;
    }
    
    .reader-sec-top-content-title{
        padding: 0px 22px;
        font-size: 52px;
    }
    
    .reader-sec-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .reader-sec-top-content{
        padding: 86px 20px 20px 20px;
    }
    
    .reader-sec-top-content-title{
        padding: 0px 22px;
        font-size: 44px;
    }
    
    .reader-sec-top-content-tagline{
        padding: 24px 0px 0px 0px;
        font-size: 26px;
    }
}

@media screen and (max-width: 400px) {
    .reader-sec-top-content{
        padding: 86px 20px 20px 20px;
    }
    
    .reader-sec-top-content-title{
        padding: 0px 20px;
        font-size: 36px;
    }
    
    .reader-sec-top-content-tagline{
        padding: 22px 0px 0px 0px;
        font-size: 22px;
    }
}






















.reader-sec-body{
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.65);
}






.reader-sec-featured{
    display: flex;
    flex-direction: row;

    max-width: 100%;
    box-sizing: border-box;

    justify-content: center;
    align-content: center;

    background-color: white;
    padding: 50px;
}

.featured-image{
    height: 630px;
    width: 450px;

    background-image: url('../../media/images/syahidarpan.png');

    background-repeat: no-repeat;
    background-size: cover;

    align-content: flex-start;
    position: relative;
}

.reader-sec-featured-title{
    font-size: 72px;
    font-weight: 800;
    font-family: cursive;
}

.featured-content{
    height: fit-content;
    width: 450px;

    margin: 180px 0px 0px 0px;
    background-color: black;

    font-family: monospace;

    padding: 15px 40px 60px 40px;
    margin: 115px 0px 0px -50px;


    font-size: 20px;

    align-self: center;
    align-items: center;
    align-content: center;

    z-index: 0;
}

.reader-sec-featured-button{
    margin: 24px 0px 0px 0px;
    padding: 14px 24px;
    
    border-radius: 28px;
    border: solid 2px white;
    
    background-color: rgba(0, 0, 0, 0);
    
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;

    cursor: pointer;

    transition: 0.5s;
}
.reader-sec-featured-button:hover{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    transition: 0.5s;
}

@media screen and (max-width:1000px) {
    .reader-sec-featured{
        padding: 50px 20px;
    }
    .featured-content{
        width: 420px;
        font-size: 19px;
    }
    .reader-sec-featured-button{
        font-size: 15px;
    }
}

@media screen and (max-width:800px) {
    .reader-sec-featured{
        padding: 50px 0px;
    }
    .reader-sec-featured-title{
        font-size: 60px;
    }
    .featured-image{
        height: 520px;
    }
    .featured-content{
        margin: 115px 0px 0px -200px;
        padding: 30px 30px 30px 30px;
        font-size: 18px;
    }
    .reader-sec-featured-button{
        padding: 12px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width:680px) {
    .featured-content{
        margin: 300px 0px 0px -300px;
        width: 100vw;
        font-size: 16px;
    }
    .reader-sec-featured-title{
        font-size: 48px;
    }
}
@media screen and (max-width:480px) {
    .featured-image{
        height: 480px;
    }
    .reader-sec-featured-title{
        font-size: 36px;
    }
    
    .featured-content{
        padding: 20px 20px 20px 20px;
        font-size: 14px;
    }
    .reader-sec-featured-button{
        padding: 10px 16px;
        font-size: 11px;
    }
}

@media(hover: none)  {
    .reader-sec-featured-button{
        background-color: rgba(255, 255, 255, 1);
        color: black;
        transition: 0.5s;
    }
}
/* @media screen and (max-width:400px) {
    .featured-content{
        width: 100%;
    }
} */









.readersec-content-main{
    display: flex;
    flex-direction: column;

    padding: 100px 100px 50px 100px;
    box-sizing: border-box;

    max-width: 100%;
}

@media screen and (max-width:1280px) {
    .readersec-content-main{
        padding: 80px 70px 50px 70px;
    }
}

@media screen and (max-width:800px) {
    .readersec-content-main{
        padding: 60px 50px 50px 50px;
    }
}

@media screen and (max-width:600px) {
    .readersec-content-main{
        padding: 50px 40px 40px 40px;
    }
}
@media screen and (max-width:480px) {
    .readersec-content-main{
        padding: 40px 30px 40px 30px;
    }
}
@media screen and (max-width:400px) {
    .readersec-content-main{
        padding: 30px 20px 30px 20px;
    }
}

    
.reader-sec-nav-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
}

.reader-sec-nav-panel-items{
    flex: 1 1 auto;
    padding: 10px 10px;
    text-transform: uppercase;

    border-bottom: solid 2px white;

    font-size: 24px;
    font-weight: 600;

    cursor: pointer;
}

.reader-sec-nav-panel-items + .reader-sec-nav-panel-items{
    border-left: solid 2px white;
}



@media screen and (max-width:1000px) {
    .reader-sec-nav-panel-items{
        /* padding: 8px 10px; */
        font-size: 22px;
    }
}
@media screen and (max-width:800px) {
    .reader-sec-nav-panel-items{
        padding: 8px 10px;
        font-size: 22px;
    }
}

@media screen and (max-width:600px) {
    .reader-sec-nav-panel-items{
        font-size: 20px;
    }
}
@media screen and (max-width:480px) {
    .reader-sec-nav-panel-items{
        padding: 6px 8px;
        font-size: 18px;
    }
}
@media screen and (max-width:400px) {
    .reader-sec-nav-panel-items{
        padding: 6px 8px;
        font-size: 16px;
    }
}





/* 1. Reader Section Contents section where all the content cards are present
   2. Content Cards */
.reader-sec-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    column-gap: 50px;
    row-gap: 50px;

    width: 100%;

    padding: 60px 0px;

    border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)) 1 0%;
}


.item-card{
    height: 220px;
    width: 330px;

    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 1px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);

    backdrop-filter: blur(20px);

    transition: 0.5s;
    cursor: pointer;

    text-align: center;
}

.item-card-image-container{
    position: absolute;
    
    height: inherit;
    width: inherit;
    
    overflow: hidden;

    z-index: 10;
}    
.item-card-image{
    transition: 1s;

    padding: 15px;
    height: inherit;
    width: inherit;

    background-size: cover;
    background-repeat: no-repeat;
}

.item-card:hover>.item-card-image-container>.item-card-image{
    transition: 0.5s;
    transform: scale(1.25);
}

.item-card-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 188px;
    width: 298px;

    color: #ffffff;
    
    border: 1px solid rgba(255, 255, 255, 0.7);

    z-index: 20;
}

.item-card-title{
    font-weight: 600;
    font-size: 28px;
    
    padding: 10px 15px 5px 15px;
    
    transition: 1s;
}

.item-card-author{    
    font-weight: 500;
    font-size: 24px;
    
    padding: 0px 15px 10px 15px;

    transition: 1s;
}

.item-card:hover>.item-card-content-container>div{
    transition: 0.7s;
    transform: scale(1.05);
}



@media screen and (max-width:820px) {
    .reader-sec-contents{
        padding: 50px 0px;
        column-gap: 40px;
        row-gap: 40px;
    }
    .item-card{
        height: 200px;
        width: 300px;
    }
    .item-card-content-container{
        height: 180px;
        width: 280px;
    }
    .item-card-title{
        font-size: 26px;
    }
    .item-card-author{
        font-size: 22px;
    }
}

@media screen and (max-width:410px) {
    .reader-sec-contents{
        padding: 40px 0px;
        column-gap: 50px;
        row-gap: 30px;
    }
    .item-card{
        height: 180px;
        width: 260px;
    }
    .item-card-content-container{
        height: 160px;
        width: 240px;
    }
    .item-card-title{
        font-size: 24px;
    }
    .item-card-author{
        font-size: 20px;
    }
}





/* #######################################################################################3 */
/* Content Card showing the whole content */
.item-main{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    backdrop-filter: blur(15px);

    overflow: scroll;

    z-index: 10000;
}

.item-main-box{
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;

    width: 70%;
    min-height: 320px;
    max-height: 80%;

    margin: 0px;
    padding: 50px 50px 20px 50px;
    box-sizing: border-box;

    transform: translate(-50%, -50%);

    color: bisque;

    backdrop-filter: blur(10px);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-style: double;
    border-color: bisque;
    border-width: 0px 6px 6px 0px;

    /* overflow: scroll; */
}

.item-main-top{
    display: flex;
    flex-direction: row;

    position: relative;

    justify-content: space-between;

    padding: 0px 10px 20px 10px;
    margin: 0px 0px 12px 0px;

    font-size: 28px;

    border-bottom: solid 1px bisque;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), bisque, rgba(0, 0, 0, 0)) 1 0%;
}

.item-box-x-button{
    display: flex;
    align-items: center;

    cursor: pointer;
}

.item-main-body{
    overflow: scroll;
}

.item-main-body-content{
    text-align: center;
    
    font-size: 24px;
    padding: 20px 30px 10px 30px;
}

.item-main-body-author{
    padding: 0px 30px 0px 0px;

    text-align: right;

    font-size: 26px;
}

.item-main-body-bottom-border{
    margin-top: 12px;

    border-bottom: solid 1px bisque;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), bisque, rgba(0, 0, 0, 0)) 1 0%;
}

.item-main-body-remove-button{
    margin: 16px 0px 0px 0px;

    transition: 0.3s;
}
.item-main-body-remove-button>button{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 20px;

    transition: 0.3s;
}


@media screen and (max-width: 1000px) {
    .item-main-box{
        max-width: 80%;
        max-height: 80%;
        width: 85%;
    }

    .item-main-top{
        font-size: 26px;
    }
    
    .item-main-body-content{
        font-size: 22px;
    }
    
    .item-main-body-author{
        font-size: 24px;
    }

    .item-main-body-remove-button{
        margin: 12px 0px 0px 0px;
    }
    .item-main-body-remove-button>button{
        padding: 8px 10px;
        font-size: 18px;
    }
}

@media screen and (max-width: 720px) {
    .item-main-box{
        padding: 28px 20px 18px 20px;

        max-width: 90%;
        max-height: 90%;
        width: 90%;
    }

    .item-main-top{
        padding: 0px 10px 16px 10px;
        font-size: 24px;
        margin: 0px;
    }
    
    .item-main-body-content{
        font-size: 20px;
    }
    
    .item-main-body-author{
        font-size: 22px;
    }

    .item-main-body-remove-button>button{
        padding: 6px 8px;
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .item-main-top{
        padding: 0px 10px 12px 10px;
        font-size: 22px;
        margin: 0px;
    }
    
    .item-main-body-content{
        font-size: 18px;
    }
    
    .item-main-body-author{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .item-main-box{
        padding: 28px 20px 18px 20px;

        max-width: 95%;
        max-height: 95%;
        width: 95%;
    }
    .item-main-top{
        padding: 0px 10px 10px 10px;
        font-size: 22px;
        margin: 0px;
    }
    
    .item-main-body-content{
        font-size: 16px;
    }
    
    .item-main-body-author{
        font-size: 18px;
    }
    .item-main-body-remove-button>button{
        padding: 6px 8px;
        font-size: 16px;
    }
}


.no-content-message{
    color: white;
    font-size: 40px;

    border-width: 0px;
}