.reader-sec-main{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100vw;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg');

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)), url('../../media/images/bg4.jpg'); */

    background-attachment: fixed;

    /* background-color: black; */
    justify-items: center;
    align-content: center;
}





.reader-sec-top{
    position: relative;

    padding: 0px;

    width: 100vw;
    height: auto;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0)); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.reader-sec-top-content{
    position: relative;
    top: 0vh;

    display: flex;
    flex-direction: column;

    padding: 20vh 10vw 8vh 10vw;

    text-align: center;
    align-items: center;

    /* height: auto; */

    /* transition: 0.3s; */
}

.reader-sec-top-content-title{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    margin: 0vh 0vh 5vh 0vh;

    border-style: solid;
    border-width: 0px 0px 4px 0px; 
    border-color: #ffffff;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0));

    font-size: 6vw;
}

.reader-sec-top-content-tagline{
    position: relative;

    width: fit-content;
    
    padding: 2vh 2vw 1vh 2vw;

    /* margin: 0vh 0vh 5vh 0vh; */

    border-style: solid;
    border-width: 0px 0px 0px 0px; 
    border-color: #ffffff;

    font-size: 7vh;
}

.reader-sec-body{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);

    /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.2)); */

    color: black;

    width: 100%;

    padding: 5vh 0vh;

    align-items: center;
    justify-items: center;
}


.item-card{
    display: flex;
    flex-direction: column;

    width: min-content;
}

.item-card-image-container{
    height: 30vw;
    width: 30vw;

    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
}

.item-card-image-button{
    height: inherit;
    width: inherit;

    padding: 0px;
    margin: 0px;
}

.item-card-image{
    /* position: relative; */
    height: inherit;
    width: inherit;
}

/* .item-card-image-border{

    position: fixed;

    height: inherit;
    width: inherit;

    border: 2px solid rgb(0, 0, 0);

    padding: 5px;
} */

.item-card-title{
    text-transform: uppercase;

    justify-content: left;
}